@import 'styles/common/colors';

.tabs-content {
    overflow: auto;
    height: 700px;
}

.tabs-list {
    display: flex;
    margin: 0 -25px;
    background-color: #242a31;
    padding: 0px 20px 20px;

    .tab {
        padding: 0 0 5px;
        border-bottom: 4px solid @color-default;
        color: @color-default;
        margin: 0 10px;
        cursor: pointer;
        text-transform: uppercase;

        transition: color ease-in-out 0.2s, border-bottom-color ease-in-out 0.2s;

        &.active, &:hover {
            color: @color-white;
            border-bottom-color: @color-white;
        }
    }
}

.sources-list {
    pre {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}

.empty-placeholder {
    margin: 20px;
    text-align: center;
    font-style: italic;
    color: #8d9397;
}

dl {
    h6 {
        margin: 25px 0 10px;
    }

    dt {
        display: inline-block;
        margin: 0 0 0 20px;
        color: #8d9397;
        font-weight: 500;
    }

    dd {
        display: inline-block;
        margin: 0 20px 0 0;
        flex: 1 0 auto;
    }
}
