<uc-modal #modal size="medium" [closeOnButtonClick]="true">
    <ng-template #modalHeader>{{ title | translate }}</ng-template>
    <ng-template #modalBody>
        <div class="tabs-list">
            <div class="tab" [class.active]="selectedTab == 'summary'" (click)="selectTab('summary')">Summary</div>
            <div class="tab" [class.active]="selectedTab == 'streams'" (click)="selectTab('streams')" *ngIf="isPlayableMedia">Streams</div>
            <div class="tab" [class.active]="selectedTab == 'probe'" (click)="selectTab('probe')" *ngIf="isPlayableMedia">Probe</div>
            <div class="tab" [class.active]="selectedTab == 'json'" (click)="selectTab('json')">JSON</div>
        </div>

        <div class="tabs-content">
            <!-- Summary -->
            <ng-container *ngIf="selectedTab == 'summary'">
                <section class="sources-list">
                    <h5>Sources</h5>
                    <dl *ngIf="media.sources != null">
                        <ng-container *ngFor="let source of media.sources" class="text-select">
                            <dt>ID</dt>
                            <dd><pre class="text-select">{{source.id}}</pre></dd>
                        </ng-container>
                    </dl>
                    <div *ngIf="media.sources == null || media.sources.length == 0" class="empty-placeholder">N/A</div>
                </section>

                <section class="timestamps">
                    <h5>Timestamps</h5>
                    <dl>
                        <dt>Created At</dt>
                        <dd [attr.title]="media.createdAt">{{media.createdAt | friendlyDate}}</dd>
                        <dt>Updated At</dt>
                        <dd [attr.title]="media.updatedAt">{{media.updatedAt | friendlyDate}}</dd>
                        <dt>Added At</dt>
                        <dd [attr.title]="media.addedAt">{{media.addedAt | friendlyDate}}</dd>
                    </dl>
                </section>

                <section class="history">
                    <h5>History</h5>
                    <dl>
                        <dt>Played Count</dt>
                        <dd>{{media.playCount}}</dd>
                        <dt>Last Played At</dt>
                        <dd>{{media.lastPlayedAt | friendlyDate | orDefaultValue:'N/A'}}</dd>
                    </dl>
                </section>
            </ng-container>

            <!-- Streams -->
            <ng-container *ngIf="selectedTab == 'streams'">
                <section class="metadata">
                    <h5>Metadata</h5>
                    <dl *ngIf="media.metadata != null">
                        <dt>Source</dt>
                        <dd>{{media.metadata.source}}</dd>
                        <dt>Duration</dt>
                        <dd [attr.data-value]="media.metadata.duration">{{media.metadata.duration | friendlyDuration | orDefaultValue:'N/A'}}</dd>
                        <dt>Size</dt>
                        <dd [attr.data-value]="media.metadata.size">{{media.metadata.size | friendlySize | orDefaultValue:'N/A'}}</dd>
                        <dt>Bitrate</dt>
                        <dd [attr.data-value]="media.metadata.bitrate">{{media.metadata.bitrate | friendlyDataRate | orDefaultValue:'N/A'}}</dd>

                        <h6>Video</h6>
                        <ng-container *ngFor="let stream of videoStreams">
                            <p>
                                <dt>Codec</dt>
                                <dd>{{stream.codec}}</dd>
                                <dt>Resolution</dt>
                                <dd>{{stream.resolution}}</dd>
                                <dt>Colorspace</dt>
                                <dd>{{stream.colorspace}}</dd>
                                <dt>Bitdepth</dt>
                                <dd>{{stream.bitdepth}}</dd>
                            </p>
                        </ng-container>
                        <div *ngIf="videoStreams.length == 0" class="empty-placeholder">N/A</div>

                        <h6>Audio</h6>
                        <ng-container *ngFor="let stream of audioStreams">
                            <p>
                                <dt>Codec</dt>
                                <dd>{{stream.codec}}</dd>
                                <dt>Language</dt>
                                <dd>{{stream.language}}</dd>
                                <dt>Channels</dt>
                                <dd>{{stream.channels}}</dd>
                            </p>
                        </ng-container>
                        <div *ngIf="audioStreams.length == 0" class="empty-placeholder">N/A</div>

                        <h6>Subtitles</h6>
                        <ng-container *ngFor="let stream of subtitleStreams">
                            <p>
                                <dt>Codec</dt>
                                <dd>{{stream.codec}}</dd>
                                <dt>Language</dt>
                                <dd>{{stream.language}}</dd>
                                <dt>Forced</dt>
                                <dd>{{stream.forced}}</dd>
                                <dt>Hearing Impaired</dt>
                                <dd>{{stream.hearingImpaired}}</dd>
                            </p>
                        </ng-container>
                        <div *ngIf="subtitleStreams.length == 0" class="empty-placeholder">N/A</div>
                    </dl>
                    <div *ngIf="media.metadata == null" class="empty-placeholder">N/A</div>
                </section>
            </ng-container>

            <!-- Probe -->
            <ng-container *ngIf="selectedTab == 'probe'">
                <div class="mediaJson text-select" *ngIf="probe != null"><pre>{{ probe.raw | json }}</pre></div>
                <div *ngIf="probe == null" class="empty-placeholder">N/A</div>
            </ng-container>

            <!-- JSON -->
            <ng-container *ngIf="selectedTab == 'json'">
                <div class="mediaJson text-select"><pre>{{ media | json }}</pre></div>
            </ng-container>
        </div>
    </ng-template>
</uc-modal>
