<uc-media-badge [item]="item"
                [title]="item.title"
                [subtitle]="item.subtitle"
                [artwork]="item.cachedArtwork.background || item.cachedArtwork.thumbnail"
                [status]="status"
                [expanded]="expanded">
    <ng-content></ng-content>
</uc-media-badge>
