:host {
	display: block;
	// width: 125px;
	// height: 125px;
	// overflow: hidden;
	// margin: 60px auto;
}

.loader-container {
	text-align: center;
	display: inline-block;
}

.loader-circle {
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.loader-circle, .loader-circle:after {
	border-radius: 50%;
	width: 12.2em;
	height: 12.2em;
	box-sizing: border-box;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.sk-folding-cube {
    position:relative;
    -webkit-transform:rotateZ(45deg);
    transform:rotateZ(45deg);
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    // margin-right: 40px;
    display: inline-block;
}

.sk-folding-cube .sk-cube {
    float:left;
    width:50%;
    height:50%;
    position:relative;
    -webkit-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1)
}

.sk-folding-cube .sk-cube:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#FFFFFF;
    -webkit-animation:sk-foldCubeAngle 2.4s infinite linear both;
    animation:sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    transform-origin:100% 100%
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform:scale(1.1) rotateZ(90deg);
    transform:scale(1.1) rotateZ(90deg)
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform:scale(1.1) rotateZ(180deg);
    transform:scale(1.1) rotateZ(180deg)
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform:scale(1.1) rotateZ(270deg);
    transform:scale(1.1) rotateZ(270deg)
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay:0.3s;
    animation-delay:0.3s
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay:0.6s;
    animation-delay:0.6s
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay:0.9s;
    animation-delay:0.9s
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform:perspective(140px) rotateX(-180deg);
        transform:perspective(140px) rotateX(-180deg);
        opacity:0
    }
    25%, 75% {
        -webkit-transform:perspective(140px) rotateX(0deg);
        transform:perspective(140px) rotateX(0deg);
        opacity:1
    }
    90%, 100% {
        -webkit-transform:perspective(140px) rotateY(180deg);
        transform:perspective(140px) rotateY(180deg);
        opacity:0
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform:perspective(140px) rotateX(-180deg);
        transform:perspective(140px) rotateX(-180deg);
        opacity:0
    }
    25%, 75% {
        -webkit-transform:perspective(140px) rotateX(0deg);
        transform:perspective(140px) rotateX(0deg);
        opacity:1
    }
    90%, 100% {
        -webkit-transform:perspective(140px) rotateY(180deg);
        transform:perspective(140px) rotateY(180deg);
        opacity:0
    }
}