<div class="loader" *ngIf="type === 'loading-circle'">Loading...</div>
<div class="loader-container" [ngStyle]="{
    'width': size + 'px',
    'height': size + 'px',
    padding: '0 ' + ( size * 0.4 ) + 'px'
}" *ngIf="type === 'folding-cube'">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<span class="label" [ngStyle]="{ fontSize: size + 'px', color: color }">
    <ng-content></ng-content>
</span>