@import 'styles/common/colors';
@import 'styles/common/fonts';

.button-schema ( @name, @color, @secondary-color: @color-white ) {
	color: @color;
	background-color: @color-transparent;
    fill: @color;

	&.button-featured .inner, &.button-featured .button-suffix {
		color: @secondary-color;
		background-color: @color;
        fill: @secondary-color;

		&:hover:not(.disabled) {
			background-color: contrast(@color, lighten( @color, 7% ), darken( @color, 10% ));
		}
	}

	&:not(.disabled) .inner:hover, &:not(.disabled) .button-suffix:hover {
		color: @secondary-color;
		background-color: @color;
        fill: @secondary-color;
	}

	&.border {
		border: 1px solid @color;
		margin: 4px;
	}

	&.highlight:not(.disabled) {
		animation: @name cubic-bezier(0.105, 0.095, 0.070, 1.000) 2s 1;
	}

	// .button-click-keyframes( @name, @color, @secondary-color );

	&.waiting {
		color: @secondary-color;
        fill: @secondary-color;

		animation: ~"pulse-@{name}" 2s infinite;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}

	@keyframes ~"pulse-@{name}" {
		0%, 100% {
			background-color: lighten( @color, 5% );
		}

		50% {
			background-color: darken( @color, 15% );
		}
	}
}

.button-suffix-schema ( @name, @color, @secondary-color: @color-white ) {
	&.button-featured .button-suffix {
		color: @secondary-color;
		background-color: @color;
        fill: @secondary-color;

		&:hover:not(.disabled) {
			background-color: contrast(@color, lighten( @color, 7% ), darken( @color, 10% ));
		}
	}

	&:not(.disabled) .button-suffix:hover {
		color: @secondary-color;
		background-color: @color;
        fill: @secondary-color;
	}
}

// .button-click-keyframes ( @name, @color, @secondary-color: @color-white ) {
// 	@keyframes @name {
// 		0% {
// 			color: @color;
// 			background-color: @color-transparent;
// 		}
// 		35% {
// 			color: @secondary-color;
// 			background-color: @color;
// 		}
// 		100% {
// 			color: @color;
// 			background-color: @color-transparent;
// 		}
// 	}
// }

.button-alignment ( @align, @flex-align ) {
	text-align: @align;

	.inner {
		justify-content: @flex-align;
	}
}

.button-size ( @fontSize, @paddingV, @paddingH ) {
	&.button-square {
		box-sizing: border-box;
		width: 35px;
		height: 35px;
	}

	font-size: @fontSize;

	.inner {
		padding: @paddingV 0px @paddingV @paddingH;
		padding-right: @paddingH;
	}

	.button-suffix {
		padding: @paddingV @paddingH;
	}

	.icon {
		width: @fontSize;

        &.svg-icon {
            height: 32px;
            width: 32px;
        }
	}
}

:host.clean {
	padding: 0px;
}

:host.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
    color: @color-disabled;
}

:host {
    .no-text-select();
    position: relative;
	display: inline-flex;
	flex-direction: row;
	font-family: @font-quicksand;
	font-size: 25px;
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	text-decoration: none;

	transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;

	.inner {
		padding: 20px 0px 20px 25px;
		padding-right: 25px;

		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		// width: 100%;
		height: 100%;

        &.icon-position-top{
            display: grid;
            justify-items: center;
            max-width: min-content;
            .icon {
                text-align: center;
                order: -1;
            }
        }

        &.icon-position-bottom{
            display: grid;
            justify-items: center;
            max-width: min-content;
            .icon {
                text-align: center;
                order: 1;
            }
        }

        &.icon-position-left{
            .icon {
                order: -1;
            }
        }

        &.icon-position-right{
            .icon {
                order: 1;
            }
        }

	}

    .svg-icon {
        height: 32px;
        width: 32px;

        ::ng-deep svg {
            height: 100%;
            width: 100%;
        }
    }

	.button-suffix {
		flex: 0 0 auto;
		padding: 20px 25px;
	}

	&.button-suffix-hover {
		.button-suffix {
			opacity: 0;
		}

		&:hover .button-suffix {
			opacity: 1;
		}
	}

	&.button-left {
		.button-alignment( left, flex-start );
	}

	&.button-right {
		.button-alignment( right, flex-end );
	}

    &.button-xxs {
		.button-size( 10px; 2px; 3px );
	}

	&.button-xs {
		.button-size( 15px; 4px; 6px );
	}

	&.button-sm {
		.button-size( 18px; 10px; 12px );
	}

	.icon {
		text-align: center;
	}

	.icon-position-left .icon + .label {
		margin-left: 10px;
	}

    .icon-position-right .icon + .label {
		margin-right: 10px;
	}

	&.button-fill {
		width: 100%;
	}

	&.button-success {
		.button-schema( buttonSuccessHighlight, @color-success );
	}

	&.button-info {
		.button-schema( buttonInfoHighlight, @color-info );
	}

	&.button-warning {
		.button-schema( buttonWarningHighlight, @color-warning );
	}

	&.button-danger {
		.button-schema( buttonDangerHighlight, @color-danger );
	}

	&.button-white {
		.button-schema( buttonWhiteHighlight, @color-white, @color-dark-shade );
	}

	&.button-suffix-success {
		.button-suffix-schema( buttonSuccessHighlight, @color-success );
	}

	&.button-suffix-info {
		.button-suffix-schema( buttonInfoHighlight, @color-info );
	}

	&.button-suffix-warning {
		.button-suffix-schema( buttonWarningHighlight, @color-warning );
	}

	&.button-suffix-danger {
		.button-suffix-schema( buttonDangerHighlight, @color-danger );
	}

	&.button-suffix-white {
		.button-suffix-schema( buttonWhiteHighlight, @color-white, @color-dark-shade );
	}

	&.button-glossy {
		.button-schema( buttonWhiteHighlight, @color-default, @color-white );

		&:hover:not(.disabled) {
			background-color: transparent;
		}
	}

	&.button-grow {
		flex-grow: 1;
	}

	&.waiting {
		animation: pulse 2s infinite;
		animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}

	@keyframes pulse {
		0% {
		  color: lighten( @color-warning, 20% );
          fill: lighten( @color-warning, 20% );
		}
		50% {
		  color: @color-warning;
          fill: @color-warning;
		}

		100% {
		  color: lighten( @color-warning, 20% );
          fill: lighten( @color-warning, 20% );
		}
	}
}
