<div class="inner icon-position-{{iconPosition}}" [class.square]="iconOnly" (click)="onClick($event)">
    <ng-container [ngSwitch]="_iconType">
        <div *ngSwitchCase="IconType.Svg" class="icon svg-icon" [innerHTML]="_svg"></div>
        <uc-icon-compound *ngSwitchCase="IconType.Ico" class="icon" [asString]="icon"></uc-icon-compound>
    </ng-container>

    <span class="label" [class.sr-only]="iconOnly">
        <ng-content></ng-content>
    </span>
</div>
<div *ngIf="buttonSuffix != null" class="button-suffix" (click)="onSuffixClick($event)" notBubble><i class="fa fa-{{buttonSuffix}}"></i></div>