<uc-section class="episodes-list" [background]="sectionBackground" title="Episodes" [iconAction]="(countWatched == episodes.length ? 'eye-slash' : 'eye' )"
            [titleAction]="'SECTIONS.EPISODES.' + (countWatched == episodes.length ? 'NONEWATCHED' : 'ALLWATCHED' ) | translate" (titleClick)="markAll()"
            [titleDropdowns]="titleDropdowns" (titleDropdownsSelect)="titleDropdownsSelect.emit($event)"
            [views]="views" (viewClick)="onViewClick($event)">

    <uc-thumbnails-list *ngIf="activeView == 'grid'" class="horizontal" ucDiscreteScroller ucSelectableContainer (ucSelectableContainerChange)="autoSelect = !!$event" [class.nowrap]="mediaQueries.isSmartphoneScreen | async">
        <uc-thumbnail-media
            ucDiscreteScrollerElement
            (ucDiscreteScrollerElementSelected)="autoSelect && selectable.activate()"

            ucSelectable #selectable=selectable

            *ngFor="let episode of episodes"
            [media]="episode"
            [active]="selectable.active"
            (action)="select( episode )">
        </uc-thumbnail-media>
    </uc-thumbnails-list>

    <!-- Season subtitles -->
    <uc-subtitles *ngIf="activeView == 'table'" [media]="season" [isOpened]="true" [hideTitle]="true" [bodyOnly]="true"></uc-subtitles>
</uc-section>
