<div class="auto-scroll-box">
    <uc-button class="uc-button scroll-up" [class.active]="currentVelocity < 0" [icon]="iconsUp[currentUpSpeed | max: 0]" (click)="this.autoScrollUpEmit()"></uc-button>
    <uc-button class="uc-button scroll-down" [class.active]="currentVelocity > 0" [icon]="iconsDown[currentDownSpeed | max: 0]" (click)="this.autoScrollDownEmit()"></uc-button>
</div>