div.auto-scroll-box {
    position: fixed;
    right: 5px;
    bottom: 75px;

    uc-button {
        display: flex;
        opacity: 0;
        transition: opacity 0.5s;

        ::ng-deep .inner {
            padding: 20px 10px 20px 10px;
        }
    }

    &:hover {
        uc-button {
            opacity: 0.5;
            transition: opacity 0.5s;
        }
    }

    uc-button.active {
        opacity: 1;
        transition: opacity 0.5s;
    }

}

@media (max-width: 500px) {
    div.auto-scroll-box {
        display: none;
    }
}