<uc-section background="third" *ngIf="isOpened" [title]="'MEDIACAST.TITLE' | translate" [titleAction]="'MEDIACAST.CLOSE' | translate" (titleClick)="titleClick()">
    <div *ngIf="castLoading" class="content-placeholder" translate>MEDIACAST.LOADING</div>
    <div *ngIf="!castLoading && cast.length == 0" class="content-placeholder" translate>MEDIACAST.NO_PEOPLE</div>
    <div *ngIf="!castLoading && cast.length > 0">
        <uc-thumbnails-list class="horizontal" [class.nowrap]="mediaQueries.isSmartphoneScreen | async" ucDiscreteScroller ucSelectableContainer>
            <uc-thumbnail-person
                    ucDiscreteScrollerElement
                    (ucDiscreteScrollerElementSelected)="selectable.activate()"

                    ucSelectable #selectable=selectable

                    *ngFor="let person of cast"
                    [person]="person"
                    [active]="selectable.active"
                    [link]="[ '/people', person.id ]">
            </uc-thumbnail-person>
        </uc-thumbnails-list>
        <div style="text-align: center">
            <uc-button *ngIf="!showAll && castAll.length > mainCastLength" class="button-glossy" (click)="toggleShowAll()">
                <span translate>MEDIACAST.SHOW_ALL</span> ({{castAll.length}} <span translate>MEDIACAST.PEOPLE</span>)
            </uc-button>
            <uc-button *ngIf="showAll && castAll.length > mainCastLength" class="button-glossy" (click)="toggleShowAll()">
                <span translate>MEDIACAST.SHOW_MAIN_CAST</span> ({{mainCastLength}}  <span translate>MEDIACAST.PEOPLE</span>)
            </uc-button>
        </div>
    </div>
</uc-section>