<div class="dropdown-trigger" [class.active]="opened" (click)="toggle()" #trigger>
    <ng-content select="[dropdown-trigger]"></ng-content>
</div>

<div #dropdownContainer 
    class="dropdown-container" 
    [class.full-width]="fullWidth"
    [class.active]="opened" 
    [class.embedded]="embedded" 
    [class.nested]="parentDropdownService != null"
    [style.width.px]="width != null ? width : null"
    (click)="clickContainer($event)">
    <ng-content select="[dropdown-body]"></ng-content>
</div>