@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    position: relative;
    display: inline-block;
    font-family: @font-coves;
}

.dropdown-trigger.active {
    background-color: @color-background-2;
}

.dropdown-container {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: none;
    right: 0;
    z-index: 1000;

    &.full-width {
        width: 100%;
    }

    &.embedded {
        position: initial;
    }
        
    ::ng-deep [dropdown-body] {
        display: flex;
        flex-direction: column;
        background-color: @color-background-2;
        // rgba(23, 27, 33, 0.6);

        .uc-button, [uc-button], uc-button {
            flex: 1 1 auto;
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
        display: initial;

        &.nested ::ng-deep [dropdown-body] {
            background-color: fade( @color-background, 100% );
        }
    }
}

:host.dropdown-form {
    .dropdown-trigger, .dropdown-trigger.active {
        background-color: @color-light-shade;
    }

    .dropdown-container ::ng-deep [dropdown-body] {
        background-color: @color-light-shade;
    }
}