<uc-modal #modal size="large">
    <ng-template #modalHeader>
        Media Gallery <a [icon]="'home'" [iconOnly]="true" class="uc-button button-success" (click)="goHome()"></a>
    </ng-template>
    <ng-template #modalBody>
        <uc-scrollbar>
            <div class="types">
                <div *ngFor="let image of mediaImages" class="type" (click)="clickedImage(image)">
                    <div [uc-background]="image.value" [background-width]="200" [background-size]="'contain'" [background-repeat]="'no-repeat'" [background-position]="'center'" class="img"></div>
                    <p>{{ image.art }}</p>
                </div>
            </div>
        </uc-scrollbar>
    </ng-template>
    <ng-template #modalFooter>
        <!-- Nothing on the footer -->
    </ng-template>
</uc-modal>