:host {

    div.img {
        width: 200px;
        height: 299px;
        cursor: pointer;
    }

    div.type {
        padding: 15px;
        width: auto;
        text-align: center;
    }

    div.types {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 800px;
    }
}
