<uc-filter-presets></uc-filter-presets>
<uc-sidemenu-filters-sort [filterName]="'sort'" [fieldsSort]="sortFields"></uc-sidemenu-filters-sort>
<uc-sidemenu-filters-watch [filterName]="'watched'"></uc-sidemenu-filters-watch>
<uc-sidemenu-filters-repositories [filterName]="'repositories'" [type]="'show'"></uc-sidemenu-filters-repositories>
<uc-sidemenu-filters-collections [filterName]="'collections'" [type]="'show'"></uc-sidemenu-filters-collections>
<uc-sidemenu-filters-genres [filterName]="'genres'" [type]="'show'"></uc-sidemenu-filters-genres>
<uc-sidemenu-filters-qualities [type]="'episode'"></uc-sidemenu-filters-qualities>
