<div class="playlist-current" scrollable [scrollableParent]="true" *ngIf="!playlistsListOpen">
    <div class="playlist-details actionable active" (click)="togglePlaylistsListView()">
        <div class="data">
            <p class="date">{{ activePlaylist.data.createdAt | date:'dd MMM y' }}</p>
            <p class="day">{{ activePlaylist.data.createdAt | date:'EEEE' }}</p>
        </div>
        <div class="actions">
            <uc-button class="button-danger button-sm" icon="trash" [iconOnly]="true" (click)="removePlaylist($event)"></uc-button>
        </div>
    </div>

    <uc-scrollbar>
        <div class="playlist-items">
                <ng-container *ngFor="let item of activePlaylist.data.items; let position = index">
                    <uc-switch-badge [item]="item" (click)="animatedLayoutChange( 300 )">
                        <uc-button icon="external-link" [iconOnly]="true" (uc-async)="goto($event, item, position)" notBubble></uc-button>
                        <uc-button icon="play" [iconOnly]="true" (uc-async)="playItem($event, item, position)" notBubble></uc-button>
                        <uc-button icon="level-up" [iconOnly]="true" (uc-async)="levelUp($event, item, position)" notBubble></uc-button>
                        <uc-button icon="level-down" [iconOnly]="true" (uc-async)="levelDown($event, item, position)" notBubble></uc-button>
                        <uc-button icon="times" [iconOnly]="true" (uc-async)="removeItem($event, item, position)" notBubble></uc-button>
                    </uc-switch-badge>
                </ng-container>


                <div class="missing-media" *ngIf="activePlaylist.data.items.length == 0">
                    No media in this playlist.
                </div>
            </div>
    </uc-scrollbar>
</div>
<perfect-scrollbar *ngIf="playlistsListOpen">
    <div class="playlist-list">
            <uc-button class="create-playlist button-info button-sm button-fill" color="info" icon="plus" (click)="createPlaylist($event)">Create New</uc-button>
            <div *ngFor="let item of playlists" class="playlist-details" (click)="selectPlaylist( item )">
                <p class="date">{{ item.data.createdAt | date:'dd MMM y' }}</p>
                <p class="day">{{ item.data.createdAt | date:'EEEE' }}</p>
            </div>

            <div class="missing-media" *ngIf="playlists.length == 0">
                No playlists found.
            </div>
        </div>
</perfect-scrollbar>