@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    display: flex;

    uc-switch-badge {
        uc-button ::ng-deep .inner {
            padding: 0px;
        }
    }
}

.playlist-current, .playlist-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.playlist-current {
    display: flex;
    flex-direction: column;

    .playlist-details {
        flex: 0 0 auto;
    }

    > perfect-scrollbar {
        flex: 1 1 auto;
    }

    .playlist-items {
        // flex: 1 1 auto;
        overflow: auto;
        height: 100%;

        uc-media-badge {
            margin-bottom: 5px;
        }
    }
}
.playlist-details {
    .no-text-select();

    background-color: lighten( @color-light-shade, 4% );
    padding: 0px 20px 10px;
    cursor: pointer;

    transition: background-color ease-in-out 0.3s;

    &:hover {
        background-color: lighten( @color-light-shade, 7% );

        .date {
            color: @color-warning;
        }
    }

    &.active .date {
        color: @color-warning;
    }

    &.actionable{
        display: flex;

        .data {
            flex: 1 1 auto;
        }

        .actions {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
        }
    }

    .date {
        transition: color ease-in-out 0.3s;

        font-weight: 500;
        font-size: 25px;
        margin: 0;
    }

    .day {
        margin: 0;
    }
}

.missing-media {
    padding: 40px;
    text-align: center;
    color: @color-default;
}

.create-playlist {
    margin: 10px 0;
}