
<div class="time" [uc-background]="previewImage">
    <div class="time-absolute">{{baseTime.plus( offsetTime ).toString()}}</div>
    <div class="time-relative">
        <span *ngIf="!offsetTime.isNegative()">+</span>
        {{offsetTime.toString()}}
    </div>
</div>

<div class="player-row player-controls player-seek" *ngFor="let step of seekSteps">
    <uc-player-control>
        <uc-button icon="" (click)="moveStep(step.time, true)">- {{ step.label }}</uc-button>
    </uc-player-control>
    <uc-player-control>
        <uc-button icon="" (click)="moveStep(step.time, false)">+ {{ step.label }}</uc-button>
    </uc-player-control>
</div>
<div class="player-row player-controls">
    <uc-player-control>
        <uc-button icon="close" (click)="cancel()"></uc-button>
    </uc-player-control>
    <uc-player-control>
        <uc-button icon="fast-forward" (click)="confirm()"></uc-button>
    </uc-player-control>
</div>