:host {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.player-row.player-controls {
    display: flex;
    justify-content: space-around;
    flex: 0 0 auto;
    padding: 10px 0;

    uc-player-control {
        padding: 0;

        uc-button ::ng-deep .inner {
            padding: 0;
        }
    }
}

.time {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;

    .time-absolute {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .time-relative {
        font-size: 24px;
    }
}