@import 'styles/common/colors';
@import 'styles/common/fonts';
@import 'styles/progress-bars';

@border-bar: 8px;

:host {
  display: grid;
  width: 100%;
  div.seeker {
    .bar-container-with-values();

    .bar-default-rules();

    .bar-color-styles();

  }

  @media ( max-width: 900px ) {
    div.seeker {
        grid-template-areas:
                            "value maximum"
                            "bar bar";
        grid-template-columns: 1fr 1fr;

        .actual, .preview {
            text-align: left;
        }

        .maximum {
            text-align: right;
        }
    }



}
}