<div class="seeker">
    <span *ngIf="!_isPreview" class="actual slideValue">{{ bars[selectedBar].actual | call: printValue }}</span>
    <span *ngIf="_isPreview" class="preview slideValue">{{ _previewValue | call: printValue }}</span>
    <span class="bar clickable" (click)="clicked($event)" (mousemove)="mouseMove($event)" (mouseout)="mouseOut($event)">
        <span *ngFor="let item of _differences; let key=index;"
              [ngClass]="{'first': _firstBar == key, 'last': _lastBar == key}" class="progress {{bars[key].name}} clickable"
              [ngStyle]="{width: item + '%'}">
        </span>
    </span>
    <span class="maximum slideValue">{{ _maximum | call: printValue }}</span>
</div>