@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    // background-color: @color-light-shade;
    display: flex;
    position: relative;

    uc-player-badge.selected {
        min-width: 205px;
    }

    &.player-select-wide {
        width: 100%;

        uc-player-badge {
            flex: 1 1 auto;
        }

        uc-player-remote {
            width: 100%;
            min-width: auto;
        }
    }

    .player-dropdown {
        box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.25);
        visibility: hidden;
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;

        background-color: #DDDDDD;
        z-index: 1100;

        transition: opacity ease-in-out 0.2s;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
}


.player-dropdown-button{
    height: 100%;
    z-index: 1200;
}

.player-dropdown-button uc-button {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    ::ng-deep .inner {
        padding: 0 10px;
    }
}