<uc-player-badge class="selected" [colorable]="true" name="{{selectedDevice.name}}" type="{{selectedDevice.type}}" (click)="togglePlayerRemote()"></uc-player-badge>
<div class="player-dropdown-button" (click)="togglePlayersList()">
    <uc-button class="button-warning button-featured" icon="chevron-{{(playersListOpen ? 'down' : 'up')}},0.7" [iconOnly]="true"></uc-button>
</div>
<uc-player-remote [isFullscreen]="isFullscreen" modalScrollbar [modalScrollbarEnabled]="playerRemoteOpen && isFullscreen" (layoutChange)="updateRemotePopover()" (close)="closePlayerRemote()" [class.active]="playerRemoteOpen" #remotePopover=popover uc-popover [popoverFullscreen]="isFullscreen" [popoverAnchor]="host" [popoverOpened]="playerRemoteOpen" popoverPlacement="top-end">

</uc-player-remote>
<div class="player-dropdown" [class.active]="playersListOpen" #menuPopover=popover uc-popover [popoverAnchor]="host" [popoverOpened]="playersListOpen">
    <uc-player-badge *ngFor="let device of deviceList"
            [ngClass]="{'active': device.name == selectedDevice.name}" name="{{device.name}}" type="{{device.type}}" (click)="selectDevice(device)">
    </uc-player-badge>
</div>