<uc-loader *ngIf="!person"></uc-loader>
<div class="person-details general-details" *ngIf="!!person">
    <section class="section">
        <div class="details-grid">
            <uc-thumbnail-person [person]="person"></uc-thumbnail-person>
            <h2 class="header">
                <span class="left">
                    <span class="title">{{person.name}}</span>
                    <span class="year visibility-xs">{{person.birthday}}</span>
                </span>
            </h2>
            <span class="year visibility-sm">{{person.birthday}}</span>
        </div>
        <p class="summary">
            {{person.biography}}
        </p>
    </section>

    <section class="section">
        <uc-thumbnails-list ucSelectableContainer>
            <uc-thumbnail-media
                ucSelectable #selectable=selectable
                *ngFor="let thumbnail of person.credits"
                [media]="thumbnail"
                [active]="selectable.active"
                [link]="[ '/medias', thumbnail.kind, thumbnail.id ]"
                [tags]="[ 'role.role' ]">
            </uc-thumbnail-media>
        </uc-thumbnails-list>
    </section>
</div>
