@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    uc-dropdown {
        width: 100%;
    }

    a[dropdown-trigger] {
        display: block;
        
    }
    a.uc-button {
        .fa-remove {
            float: right;
            display: none;
        }

        &:hover span.fa-remove {
            display: inline-block;
        }
    }
}

