<uc-dropdown [fullWidth]="true" #dropdown class="dropdown-form">
    <a dropdown-trigger class="uc-button button-white button-sm" icon="caret-down" color="white">
        <span style="color: #808080; margin-right: 5px;"> {{ titleLabel | translate }}</span>
        <span *ngIf="!currentItemId"><i class="fa fa-{{emptyIcon}}"></i> <span> {{ emptyLabel | translate }}</span></span>
        <span *ngIf="currentItemId"><i class="fa fa-circle"></i> {{curentItemTitle}}</span>
    </a>
    <div dropdown-body>
        <a class="uc-button button-white button-sm button-left" [class.button-featured]="currentItemId == null" [icon]="emptyIcon" color="white" (action)="selectItem(null, null); dropdown.toggle()"><i>{{ emptyLabel | translate }}</i></a>
        <a
            *ngFor="let opt of list"
            class="uc-button button-white button-sm button-left button-suffix-danger button-suffix-hover"
            [style.paddingLeft]="((opt.identation || 0) * 25) + 'px'"
            [class.button-featured]="opt.id == currentItemId"
            icon="circle"
            color="white"
            (action)="selectItem(opt.id, opt.title); dropdown.toggle()"
            [buttonSuffix]="allowRemoval ? 'remove' : null"
            (buttonSuffixClick)="removeItem(opt.id, opt.title); dropdown.toggle()"
            >
            {{ opt.title }}
        </a>
    </div>
</uc-dropdown>