@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	&, .general-details {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	.section {
		flex: 1 0 auto;
	}

	.details-grid {
		display: grid;
		// grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		grid-column-gap: 45px;
		// grid-auto-rows: minmax(100px, auto);
		grid-template-rows: fit-content(0);
		grid-template-areas: "poster title"
							 "poster metadata"
							 "poster details"
							 "poster toolbar"
							 "poster space";
		grid-template-columns: max-content;


		.poster, .header, .metadata, .summary, .toolbar {
			margin: 0;
		}

		.toolbar .more-options {
			float: right;
		}

		.poster {
			grid-area: poster;
		}

		.header {
			grid-area: title;
		}

		.metadata {
			grid-area: metadata;
		}

		.summary {
			grid-area: details;
		}

		.toolbar {
			grid-area: toolbar;
		}

		.space {
			grid-area: space;
			width: auto;
			height: auto;
			margin: 0;
		}
	}

}

@media ( max-width: 900px ) {
	:host .general-details {
		.details-grid {
			grid-column-gap: 15px;
			grid-template-columns: 1fr 1fr;
			grid-template-areas: "title title"
								 "year rating"
								 "poster metadata"
								 "toolbar toolbar"
								 "details details";
		}

		.section {
			// padding: 20px;
			padding-top: 0;
		}

		.poster {
			width: 100%;
			height: auto;
		}

		.header {
			font-size: 40px;
			line-height: 90%;
			flex-direction: column;
			text-align: justify;

			.title {
				font-size: 40px;
			}
		}

		.year {
			display: block;
			font-size: 34px;
			grid-area: year;
			text-align: left;
		}

		.rating {
			grid-area: rating;
			// display: block;
			font-size: 34px;
			text-align: right;
		}

		.metadata {
			grid-area: metadata;
			font-size: 15px;

			.item {
				display: block;
				margin-right: 0px;
				margin-left: 0px;
				margin: 15px 0px;

				.value {
					display: block;
					margin-right: 10px;
					margin-left: 10px;
				}

				&.duration .value {
					display: inline-block;
				}
			}

			.separator {
				display: none;
			}
		}

		.summary {
			font-size: 20px;
			text-align: justify;
		}

		.toolbar {
			grid-area: toolbar;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			flex-direction: column;

			.uc-button {
				flex: 1 1 auto;
			}

			.more-options {
				float: initial;
				flex: 1 1 auto;
			}
		}
	}
}

.general-details, .episode-details {
	> section {
		background-color: @color-background-2;
		padding: 35px;
		margin-bottom: 0px;
	}

	.row-flex {
		width: 100%;
		display: flex;
		align-items: flex-start;
	}

	.poster {
		width: 285px;
		box-shadow: 0px 0px 20px 7px rgba( 0, 0, 0, 0.25 );
		flex: 0 0 auto;
	}

	// .details {
	// 	flex: 1 1 auto;
	// 	margin-left: 45px;
	// 	margin-right: 45px;

		h2 {
			display: flex;
			margin-top: 0;

			.left {
				font-size: 70px;
				font-family: @font-coves;
				flex-grow: 1;

				.title {
					font-weight: 500;
					color: @color-white;
				}
			}

			.rating {
				margin-left: 10px;
				margin-top: 17px;
			}
		}

		.year {
			font-weight: 200;
			color: @color-default;
		}

		.rating {
			color: @color-warning;
			font-family: @font-quicksand;
			font-size: 40px;
			white-space: nowrap;
		}

		.metadata {
			font-family: @font-quicksand;
			font-size: 22px;
			color: @color-default;
			text-transform: uppercase;
			margin-bottom: 40px;

			p.item {
				display: inline-block;
				margin-top: 0;
				margin-bottom: 0;
			}

			.item {
				margin-right: 15px;
				margin-left: 15px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}

			.item.genres {
				.value {
					margin-right: 25px;
				}

				.value:last-child {
					margin-right: 0;
				}
			}
		}

		.summary {
			font-family: @font-quicksand;
			font-size: 25px;
			font-weight: 200;
			margin-bottom: 40px;
		}

	// }

	@media ( max-width: 1180px ) {
		.poster {
			width: 95px;
			height: 150px;
		}

		.details {
			margin-left: 20px;
			margin-right: 10px;

			h2 {
				margin-bottom: 20px;

				.left {
					font-size: 40px;
				}

				.rating {
					margin-top: 10px;
					font-size: 20px;
				}
			}

			.metadata {
				font-size: 14px;
				margin-bottom: 20px;

				.item {
					margin-right: 7px;
					margin-left: 7px;
				}
			}
		}
	}
}