<ng-container [ngSwitch]="item.kind" >
    <uc-movie-badge *ngSwitchCase="enumMediaKind.Movie" [item]="item" [expanded]="expanded" [status]="status">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </uc-movie-badge>
    <uc-episode-badge *ngSwitchCase="enumMediaKind.TvEpisode" [item]="item" [expanded]="expanded" [status]="status">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </uc-episode-badge>
    <uc-custom-badge *ngSwitchCase="enumMediaKind.Custom" [item]="item" [expanded]="expanded" [status]="status">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </uc-custom-badge>
    <uc-media-badge *ngSwitchDefault [status]="status" [expanded]="expanded" title="No media selected"></uc-media-badge>
</ng-container>

<ng-template #contentTpl><ng-content></ng-content></ng-template>