<header>
    <h1 *ngIf="!searchOpen" class="title">
        <a class="back visibility-sm"><i class="fa fa-chevron-left" (click)="navigation.navigateBack()"></i></a>
        <a class="search-toggle visibility-sm" (click)="searchOpen = true">
            <i class="fa fa-search" aria-hidden="true"></i><i *ngIf="filtering" class="fa fa-filter" aria-hidden="true"></i>
        </a>
        <a class="title" [routerLink]="['/']">{{manager.title}}</a>
    </h1>
    <uc-search-bar *ngIf="!searchOpen" class="visibility-xs"></uc-search-bar>
    <uc-search-bar *ngIf="searchOpen" [selected]="true" class="visibility-sm" (blur)="searchOpen = false"></uc-search-bar>
</header>