@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	background-color: rgba(18, 21, 25, @color-transparency);
	display: block;
	padding-left: 46px;
	padding-top: 15px;
	padding-bottom: 15px;

	header {
		display: flex;
		align-content: center;
		align-items: center;
		padding-right: 50px;
		padding-left: 12px;

		> h1.title {
			margin: 0;
			font-size: 50px;
			flex: 0 0 auto;
            white-space: nowrap;

		 	a.title {
				color: @color-warning;
				text-decoration: none;
			}
		}

		> uc-search-bar.visibility-xs {
			flex: 1 1 auto;
			margin-left: 35px;
			margin-right: 35px;
		}
	}
}

@media ( max-width: 900px ) {
	:host {
		padding: 15px 45px;

		header {
			padding: 0;
			> h1.title {
				display: block;
				width: 100%;
				text-align: center;
                font-size: 30px;
                padding: 10px 0px;

                .back {
                    float: left;
                    font-size: 25px;
                    padding-top: 5px;
                    opacity: 0.7;
                    cursor: pointer;
                }

				.search-toggle {
					float: right;
                    font-size: 25px;
                    padding-top: 3px;
					opacity: 0.7;
					cursor: pointer;

					transition: opacity 0.3s ease-in-out;

					&:hover {
						opacity: 1;
					}
				}
            }
            .fa-filter {
                font-size: 10px;
            }
		}
	}
}