<uc-menu-subsection label="{{ translations.title | translate}}" [ngClass]="{'hide-not-filtered': hideNotFiltered}"
            [collapsible]="true" [collapsed]="!service.sectionState[filterName]" (collapseChanged)="service.changeState(filterName, !$event)">
    <ng-container *ngFor="let item of items; let i = index">
        <a uc-menu-item class="sub"
            [style.marginLeft]="( item.depth * 20 ).toString() + 'px'"
            [class.standby]="true"
            [class.included]="filteredItems[ item.id ] == 'include'"
            [class.excluded]="filteredItems[ item.id ] == 'exclude'"
            [class.removeVisible]="allowManageItems == true"
            *ngIf="!item.isHidden"
            >
            <uc-collapsible [collapsible]="item.hasChildren"
                [iconOpened]="'folder-open'"
                [iconClosed]="'folder'"
                (click)="item.hasChildren ? true : toggleServiceFilter( $event, item.id )"
                (itemVisibilityChange)="toggleCollapsedItem(item)">
                <ng-container title>
                    {{item.title}}
                    <span *ngIf="allowManageItems" class="item-actions-slot fa fa-ellipsis-v"
                        [class.active]="itemsContextMenuTarget?.id == item.id"
                        (click)="toggleItemContextMenu(item)"
                        notBubble>
                    </span>
                </ng-container>
            </uc-collapsible>
        </a>
        <div *ngIf="allowManageItems && itemsContextMenuTarget?.id == item.id" class="item-context-menu"
            [style.marginLeft]="( ( item.depth + 1 ) * 20 ).toString() + 'px'">
            <uc-button class="button-sm button-white button-fill button-right" (click)="showAddItemForm(item)">
                {{ translations.addItem | translate }} <span class="fa fa-plus"></span>
            </uc-button>
            <uc-button class="button-sm button-white button-fill button-right" (click)="deleteConfirm.show({name: item.title, cid: item.id, i: i}); closeItemContextMenu()">
                {{ translations.deleteItem | translate }} <span class="fa fa-trash"></span>
            </uc-button>
        </div>
    </ng-container>
    <div *ngIf="addingItem; else elseBlock" class="item-add-form">
        <div class="item-add-parent" *ngIf="addingItemParent != null">
            <span class="text-default">Em </span>
            <span class="text-success">
                <i class="fa fa-folder"></i>
                {{addingItemParent.title}}
            </span>
        </div>
        <input uc-auto-focus #newItemName (keydown)="detectKey($event)" type="text" [(ngModel)]="editingName" placeholder="{{ translations.newItem | translate }}"/>
        <div class="toolbar">
            <uc-button class="button-sm button-white" icon="times" [iconOnly]="true" (click)="closeAddItemForm()"></uc-button>
            <uc-button class="button-sm button-info button-grow" icon="plus" (click)="submitAddItemForm()">{{ translations.createItem | translate }}</uc-button>
        </div>
    </div>
</uc-menu-subsection>

<ng-template #elseBlock>
    <a *ngIf="allowManageItems" uc-menu-item class="sub item-add-action" (click)="showInput()" >
        <span class="fa fa-plus" style="font-size: 0.75em;"></span>
        <span>{{ translations.newItem | translate }}</span>...
    </a>
</ng-template>

<uc-confirm-modal #deleteConfirm (confirm)="deleteItem( $event.ctx['cid'], $event.ctx['i'] )">
    <ng-template #modalHeader>{{ translations.confirmationTitle | translate }}</ng-template>
    <ng-template #modalBody let-name="name">{{ translations.confirmationMessage | translate }}<span class="item-name">{{ name }}</span></ng-template>
</uc-confirm-modal>