@import 'styles/common/colors';

:host {
    uc-menu-subsection.hide-not-filtered {
        a:not(.included) {
            display: none;
        }
    }

    input {
        max-width: 90%;
    }

    .expand-toggle-slot {
        float: right;
        margin-left: 10px;
    }

    span.item-actions-slot {
        float: right;
        display: none;
        padding-left: 10px;
        padding-right: 10px;

        &.active {
            display: inline-block;
            color: @color-info;
        }
    }

    .item-context-menu {
        text-align: right;
        margin-right: 34px;
        background-color: @color-background-4; // rgba(32, 38, 45, 0.6);
        margin-bottom: 10px;

        uc-button {
            border-left: 5px solid @color-info;
        }
    }

    .item-add-action {
        font-style: italic;
        text-align: center;
    }

    .item-add-form {
        margin-top: 10px;
        padding: 10px;
        background-color: @color-background-4;
        margin-right: 15px;

        input {
            max-width: 100%;
            box-sizing: border-box;
            border:none;
        }

        .item-add-parent {
            padding: 10px;
            padding-top: 0;
            padding-bottom: 15px;
            font-size: 16px;
            text-align: center;
        }

        .toolbar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 10px;
        }
    }

    a.removeVisible:hover .item-actions-slot {
        display: inline-block;
    }

    .fa-plus-square, .fa-minus-square {
        display: inline-block;
    }

    .item-name {
        font-style: italic;
        font-weight: bold;
        color: @color-warning;
    }

}
