<div class="show-details general-details" *ngIf="!!showDetails">
    <section class="section">
        <div class="details-grid">
            <img class="poster" [src]="showDetails.cachedArtwork.poster">
            <h2 class="header">
                <span class="left">
                    <span class="title">{{showDetails.title}}</span>
                </span>
                <span class="rating visibility-xs">{{ showDetails.rating | rating }} <i class="fa fa-star" aria-hidden="true"></i> </span>
            </h2>
            <span class="rating visibility-sm">{{ showDetails.rating | rating }} <i class="fa fa-star" aria-hidden="true"></i> </span>
            <div class="metadata">
                <p class="item genres">
                    <span *ngFor="let genre of showDetails.genres" class="value">{{genre}}</span>
                </p>
                <span class="separator">|</span>
                <span class="item age-rating">
                    <span class="value">{{showDetails.parentalRating}}</span>
                </span>
            </div>
            <p class="summary">
                {{showDetails.plot}}
            </p>
            <div class="toolbar">
                <a class="uc-button button-success" icon="play-circle-o"><span translate>BUTTONS.ACTIONS.PLAY</span></a>
                <a class="uc-button button-info" icon="plus-circle"><span translate>BUTTONS.ACTIONS.QUEUE</span></a>
                <a class="uc-button button-warning" [icon]="showDetails.watched ? 'eye-slash' : 'eye'" (click)="markWatch(!showDetails.watched)"><span [translate]="'BUTTONS.ACTIONS.' + (showDetails.watched ? 'NOT_WATCHED' : 'WATCHED')"></span></a>

                <uc-dropdown class="more-options" #dropdown [embedded]="mediaQueries.isNotDesktopScreen | async">
                    <a dropdown-trigger class="uc-button button-white" [iconOnly]="true" icon="ellipsis-h" color="white" style="width: 100%;"></a>
                    <div dropdown-body>
                        <a class="uc-button button-white button-block" icon="picture-o" color="white" (click)="gallery.show(); dropdown.toggle()"><span translate>BUTTONS.ACTIONS.GALLERY</span></a>
                        <a class="uc-button button-white button-block" icon="video-camera" color="white" [routerLink]="[ '/history' ]" [queryParams]="{ 'filterMedia[]': 'show,' + showDetails.id }" (click)="dropdown.toggle()"><span translate>BUTTONS.ACTIONS.HISTORY</span></a>
                        <a class="uc-button button-white button-block" icon="users" color="white" (click)="toggleCast(); dropdown.toggle()"><span translate>BUTTONS.ACTIONS.CAST</span></a>
                        <a class="uc-button button-white button-block" icon="imdb" color="white" (click)="goToImdb($event)"><span translate>BUTTONS.ACTIONS.IMDB</span></a>
                        <a class="uc-button button-white button-block" icon="info" color="white" (click)="modalInfo.show(); dropdown.toggle();"><span translate>BUTTONS.ACTIONS.INFO</span></a>
                    </div>
                </uc-dropdown>
            </div>
        </div>
    </section>

    <uc-media-cast [media]="showDetails" [isOpened]="castOpened" (isOpenedChange)="toggleCast()"></uc-media-cast>

    <uc-seasons-list class="section" sectionBackground="third" [seasons]="seasonsList"  [active]="activeSeason" (activeChange)="changeSeason( $event )"></uc-seasons-list>

    <uc-episodes-list class="section" sectionBackground="fourth" *ngIf="!!episodesList && ( !activeEpisode || !episodesDetailsVisible )"
                    [episodes]="episodesList" [season]="activeSeason" [active]="activeEpisode" (activeChange)="changeEpisode( $event )"
                    [subtitlesIsOpened]="subtitlesIsOpened" (subtitlesIsOpenedChange)="toggleSubtitles( $event )"
                    [titleDropdowns]="listTitleDropdowns" (titleDropdownsSelect)="changeGroupFilter($event[0], $event[1])">
    </uc-episodes-list>

    <uc-episodes-details class="section" sectionBackground="fourth" *ngIf="!!activeEpisode && episodesDetailsVisible"
                        [episode]="activeEpisode" [hasPrevious]="hasPreviousEpisode" [hasNext]="hasNextEpisode"
                        (previous)="loadPreviousEpisodeDetails( $event )" (next)="loadNextEpisodeDetails( $event )"
                        (ucGestureSwipe)="episodeSwipe( $event )"
                        (close)="showEpisodesList()" [subtitlesIsOpened]="subtitlesIsOpened" (subtitlesIsOpenedChange)="toggleSubtitles( $event )"
                        [titleDropdowns]="episodesAggregator | availableEpisodeSources2Dropdown:activeEpisode" (titleDropdownsSelect)="changeEpisode(episodesAggregator.getEpisodeOfGroup(activeEpisode.number, $event[1]))" >
    </uc-episodes-details>

    <uc-subtitles *ngIf="episodesDetailsVisible" [media]="activeEpisode" [isOpened]="subtitlesIsOpened" (isOpenedChange)="toggleSubtitles( $event )"></uc-subtitles>

    <uc-gallery-modal #gallery [galleryFetcher]="this" (selectedType)="gallerySelectedType( $event )"></uc-gallery-modal>

    <uc-media-info-modal #modalInfo [media]="showDetails"></uc-media-info-modal>

</div>
