@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	padding: 0px 0;
	box-shadow: 0 0 20px 7px rgba( 0, 0, 0, 0.15 );
	z-index: 1000;
	//background-color: lighten( @color-dark-shade, 5% );
	background-color: fade( @color-background, 90% );
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;

	> section {
		max-height: 0;
		transition: max-height ease-in-out 0.4s;

		&.opened {
			max-height: 400px;
		}
	}

	section.player {
		width: 100%;
		display: flex;

		.control {
			font-size: 25px;
			padding: 20px;
			margin: 0px 10px;
			color: @color-default;

            uc-button{
                cursor: pointer;
                //transition: color ease-in-out 0.3s;
				
				::ng-deep .inner {
					padding: 0px;
				}

                &:hover {
				    color: @color-white;
			    }
            }

		}
	}
}
