
<section class="player opened">
    <div class="control" *ngIf="mediaQueries.isNotSmartphoneScreen | async">
        <uc-button icon="backward" [iconOnly]="true" (uc-async)="mediaPlayControl.backward($event)"></uc-button>
    </div>
    <div class="control" *ngIf="mediaQueries.isNotSmartphoneScreen | async">
        <uc-button *ngIf="mediaPlayControl.isPlaying | async | not" icon="play" [iconOnly]="true" (uc-async)="mediaPlayControl.play($event)"></uc-button>
        <uc-button *ngIf="mediaPlayControl.isPlaying | async" icon="pause" [iconOnly]="true" (uc-async)="mediaPlayControl.pause($event)"></uc-button>
    </div>
    <div class="control" *ngIf="mediaQueries.isNotSmartphoneScreen | async">
        <uc-button icon="stop" [iconOnly]="true" (uc-async)="mediaPlayControl.stop($event)"></uc-button>
    </div>
    <div class="control" *ngIf="mediaQueries.isNotSmartphoneScreen | async">
        <uc-button icon="forward" [iconOnly]="true" (uc-async)="mediaPlayControl.forward($event)"></uc-button>
    </div>

    <uc-time-slider *ngIf="mediaQueries.isDesktopScreen | async" [bars]="mediaPlayControl.sliderBars"
                    (progressChanged)="mediaPlayControl.sliderChanged($event)">
    </uc-time-slider>

    <div class="control"  *ngIf="mediaQueries.isNotSmartphoneScreen | async">
        <uc-button icon="microphone" [iconOnly]="true" (uc-async)="startRecognition($event)"></uc-button>
    </div>

    <uc-player-select [isFullscreen]="mediaQueries.isNotDesktopScreen | async"></uc-player-select>
</section>