<a uc-menu-item class="menu-item-toggle" (click)="toggleServiceFilter($event)">
    <i class="fa fa-eye-slash pre" aria-hidden="true"></i>
    <span *ngIf="service.filters[filterName] == 'include'">Watched</span>
    <span *ngIf="service.filters[filterName] == 'exclude'">Not Watched</span>
    <span *ngIf="service.filters[filterName] == 'all'">All</span>
</a>