<uc-thumbnail #thumbnail
    [overlayFaded]="mediaQueries.isNotSmartphoneScreen | async"
    [active]="active"
    [highlighted]="highlighted"

    class="{{mediaOrientation}} clickable overlay-top"
    [class.thumbnail-sm]="thumbnail.size == 0"
    [class.thumbnail-lg]="thumbnail.size == 2"
    [class.highlight]="mediaHighlighted"
    [class.grow-on-active]="growOnActive"

    (action)="action.emit($event)"

    [orientation]="mediaOrientation"
    [link]="link"
    [image]="mediaImage"
    [label]="mediaLabel"
    [caption]="mediaCaption"
    [rating]="mediaRating"
    [state]="mediaState">
    <uc-thumbnail-context-menu
        *ngIf="contextMenu && contextMenu.length > 0"
        [active]="active"
        [actionObject]="actionObject"
        [items]="contextMenu"
        [orientation]="mediaOrientation"
        toolbar>
    </uc-thumbnail-context-menu>
    <uc-thumbnail-info-tags
        *ngIf="(tags && tags.length > 0) || (defaultTags && defaultTags.length > 0)"
        [tags]="media | resolveObject: tags: defaultTags"
        class="full align-bottom align-right"
        info>
    </uc-thumbnail-info-tags>
</uc-thumbnail>