@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	display: block;
	font-family: @font-catamaran;
	font-size: 23px;
	font-weight: 300;

	padding: 10px 34px 8px 34px;
	//border-left: 5px solid transparent;
	text-decoration: none;

	cursor: pointer;
	color: @color-default;

	.icon {
		margin-right: 10px;
		font-size: 20px;
	}

	&.active, &:hover {
		color: @color-white;
	}

	&.active {
		background-color: @color-warning;
		font-weight: 700;
		color: #2a2e3a;
		color: #FFFFFF;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.menu-item-picker, &.menu-item-toggle {
		font-size: 22px;
	}

	&.menu-item-picker {
		.value {
			color: @color-warning;
			font-weight: 500;
		}
	}

	i.pre {
		margin-right: 8px;
	}
}

:host(.sub) {
	display: block;
	font-family: @font-coves;
	font-size: 23px;
	font-weight: 200;

	padding-left: 24px;
	margin-bottom: 10px;
	border-left: 5px solid transparent;

	cursor: pointer;
	color: @color-default;

	transition: color 0.3s ease-in-out, border-left-color 0.3s ease-in-out;
	
	&:hover {
		color: @color-white;
	}

	&.standby {
		border-left-color: @color-background-4;
	}
	
	&.included {
		border-left-color: @color-success;
		font-weight: 400;
	}
	
	&.excluded {
		border-left-color: @color-warning;
		font-weight: 400;
	}
	
	&.danger {
		border-left-color: @color-danger;
		font-weight: 400;
	}

	&.info {
		border-left-color: @color-info;
		font-weight: 400;
	}
}