<uc-sidemenu-media-reposiotries [media]="sidebar.activeMediaObservable | async"></uc-sidemenu-media-reposiotries>
<uc-sidemenu-media-collections [media]="sidebar.activeMediaObservable | async"></uc-sidemenu-media-collections>