@import 'https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900';

@font-face {
	font-family: Anders;
	src: url( 'fonts/Anders.ttf' );
}

@font-face {
	font-family: Coves;
	font-weight: 500;
	src: url( 'fonts/Coves Bold.otf' );
}

@font-face {
	font-family: Coves;
	font-weight: 200;
	src: url( 'fonts/Coves Light.otf' );
}

@font-face {
	font-family: Quicksand;
	font-weight: 200;
	src: url( 'fonts/Quicksand-Light.otf' );
}

@font-face {
	font-family: Quicksand;
	font-style: italic;
	font-weight: 200;
	src: url( 'fonts/Quicksand-LightItalic.otf' );
}

@font-face {
	font-family: Quicksand;
	font-weight: normal;
	src: url( 'fonts/Quicksand-Regular.otf' );
}

@font-face {
	font-family: Quicksand;
	font-style: italic;
	font-weight: normal;
	src: url( 'fonts/Quicksand-Italic.otf' );
}

@font-face {
	font-family: Quicksand;
	font-weight: 500;
	src: url( 'fonts/Quicksand-Bold.otf' );
}

@font-face {
	font-family: Quicksand;
	font-style: italic;
	font-weight: 500;
	src: url( 'fonts/Quicksand-BoldItalic.otf' );
}