@import 'common/colors';

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=date],
input[type=time],
input[type=tel],
input[type=search],
input[type=month],
textarea {
    background-color: @color-background-2;
    color: #FFFFFF;
    border: 1px solid @color-default;
    padding: 10px;
    font-size: inherit;
    font-family: inherit;

    &:focus {
        border: 1px solid lighten( @color-warning, 15% );
    }

    &:active, &:hover {
        border: 1px solid @color-warning;
    }

    transition: border-color 0.3s ease-in-out;

    &.transparent {
        background-color: transparent;
    }

    &.border-bottom {
        border-top: none;
        border-left: none;
        border-right: none;
    }

}

input[type=search]{
    -webkit-appearance: none;
}

/* CHECKBOXES */
input[type=checkbox] + label {
    display: inline-flex;
    align-items: center;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid grey;
    // border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.4em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}