@import './common/colors';

@slideout-width: 306px;

html {
	height: 100%;
    min-height: 100%;
}

body {
    width: 100%;
	min-height: 100%;
    margin: 0;
    background-color: fade( @color-background, 100% );
}

*:focus {
    outline: none;
}

@media ( max-width: 900px ) {
    body {
        padding: 35px;
    }

    #page {
        margin-left: 0px;
    }

    .slideout-open body,
    .slideout-open .slideout-panel {
        overflow: hidden;
    }

    .slideout-open #menu {
        display: block;
    }

    a.slideout-menu-toggle {
        display: inline-block;
    }

    header h1#header {
        .menu-toggle {
            cursor: pointer;
        }

        input.search {
            display: none;
        }

        &.search-open {
            .title {
                display: none;
            }

            input.search {
                display: inline-block;
            }
        }
    }
}

@media ( max-width: @slideout-width ) {
    // TODO Make menu more responsive when open on smaller screens
    // .slideout-menu {

    // }
}


@media ( min-width: 900px ) {
	.visibility-sm {
		display: none !important;
		visibility: hidden;
	}
}

@media ( max-width: 900px ) {
	.visibility-xs {
		display: none !important;
		visibility: hidden;
	}

	.visibility-sm {
		display: block;
		visibility: visible;
	}
}

.backdrop {
    background-color: rgba( 0, 0, 0, 0.5 );
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;

    z-index: 1010;

    transition: opacity ease-in-out 0.4s, visibility ease-in-out 0.4s;

    visibility: hidden;

    &.visible {
        visibility: visible;
        opacity: 1;
    }
}

#toasty div.toast {
    width: auto;
}

.content-placeholder {
    color: @color-default;
    text-align: center;
    font-size: 25px;
    margin: 50px 20px;
    font-weight: 100;
    font-style: italic;
}
