@import 'styles/common/colors';
@import 'styles/common/fonts';

@border-bar: 8px;

.bar-container-with-values() {
    & {
        display: grid;
        grid-template-areas: "value bar maximum";
        grid-template-columns: 0fr 1fr 0fr;
        align-items: center;
    }

    .slideValue {
        color: @color-default;
        font-family: @font-coves;
        padding: 15px;
        font-size: 15px;
        letter-spacing: 0.40px;
    }

    .actual, .preview {
        grid-area: value;
        text-align: right;
    }

    .maximum {
        grid-area: maximum;
        text-align: left;
    }

    .preview {
        color: @color-warning;
        font-size: 17px;
    }
}

.bar-default-rules() {

    .clickable {
        cursor: pointer;
    }

    .bar, .progress {
        height: 10px;
    }

    .progress {
        transition: width ease-in-out 0.3s;
        display: inline-flex;
    }

    .bar {
        grid-area: bar;
        display: inline-flex;
        flex-grow: 1;
        background-color: @color-dark-shade;
        border-radius: @border-bar;
    }

    .bar .first {
        border-top-left-radius: @border-bar;
        border-bottom-left-radius: @border-bar;
    }

    .bar .last {
        border-top-right-radius: @border-bar;
        border-bottom-right-radius: @border-bar;
    }
}

.bar-color-styles(){
    .normal {
        background-color: @color-default;
    }

    .transcoding {
        background-color: @color-warning;
    }

    .watched {
        background-color: @color-info;
    }

    .striped {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
    }
}

