@import './common/fonts';
@import './common/colors';

body {
    font-family: @font-quicksand;
    font-size: 20px;
    color: @color-white;
    letter-spacing: 0.05em;
}

h1 {
    font-family: @font-anders;
    color: @color-warning;
    font-size: 72px;
}

h2 {
    font-family: @font-coves;
    color: @color-warning;
    font-weight: 200;
    font-size: 45px;
}

p {
    line-height: 140%;
}

.sr-only {
    display: none;
}

.text-default {
    color: @color-default;
}

.text-white {
    color: @color-white;
}

.text-info {
    color: @color-info;
}

.text-danger {
    color: @color-danger;
}

.text-warning {
    color: @color-warning;
}

.text-success {
    color: @color-success;
}

.text-disabled {
    color: @color-disabled;
}