@import 'common/colors';
@import 'common/fonts';
@import 'typography';
@import 'fonts';
@import 'layout';
@import 'forms';

perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y, 
perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x, 
.ps__rail-x:focus, .ps__rail-x:hover, .ps__rail-y:focus, .ps__rail-y:hover {
    background-color: transparent !important;
}

.no-scroll {
    overflow: hidden;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.flex {
    flex: 1 1 auto;
}