<a uc-menu-item class="menu-item-picker">
    <i *ngIf="service.filters[filterName].direction === 'asc'" class="fa fa-sort-amount-asc pre" aria-hidden="true" (click)="toggleSortOrderFilter()"></i>
    <i *ngIf="service.filters[filterName].direction === 'desc'" class="fa fa-sort-amount-desc pre" aria-hidden="true" (click)="toggleSortOrderFilter()"></i>
    <span (click)="toggleSortFilter($event)">Order by <span class="value">{{ fieldsSort[ service.filters[filterName].field ]?.label | translate }}</span></span>
</a>