<ng-container *ngFor="let item of items">
    <a (click)="active && item.execute(actionObject)"
        notBubble class="uc-button button-{{item.theme || 'white'}} {{getButtonSizeClass( item.importance || 2 )}} button-fill"
        [class.hidden]="!item.test(actionObject)"
        [icon]="item.icon || ''">{{item.label | translate}}</a>
</ng-container>
