@import 'styles/common/colors';

:host {
    height: 100%;
    width: 100%;
    // display: flex;
    // Vertical
    // align-items: flex-end;
    // Horizontal
    // justify-content: flex-end;

    a.hidden {
        display: none;
    }
}