@import 'styles/common/colors';

.modal {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: @color-background-4;
    z-index: 3000;

    opacity: 0; /* Fade in/out animation. */
    transition: opacity 0.2s ease-in;

    &.modal-open {
        opacity: 1;
    }

    .modal-size ( @modal-width, @breakpoint ) {
        width: percentage( @modal-width );
        
        // 1420
        @media ( max-width: @breakpoint ) {
            width: @breakpoint * @modal-width;
        }

        @media ( max-width: (( @breakpoint * @modal-width ) + 30px) ) {
            width: 100%;
            margin: 15px;
        }
    }

    .modal-scroll-body .modal-body {
        overflow: auto;
    }

    &.modal-small .modal-dialog {
        .modal-size( 0.35, 1420px );
    }

    &.modal-medium .modal-dialog {
        .modal-size( 0.5, 1420px );
    }

    &.modal-large .modal-dialog {
        .modal-size( 0.75, 1420px );
    }
    
    .modal-content {
        // color: #333;
        background-color: fade( @color-background-4, 100% );
        // padding: 25px;

        // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.25);
    }

    .modal-header {
        display: flex;
        background: lighten( fade( @color-background-4, 100% ), 1.5% );

        > h2 {
            flex: 1;
            padding: 25px;
            margin: 0;
        }

        .close {
            background-color: @color-background-3;
            font-weight: 100;
            font-size: 1.5rem;
            border: 0;
            padding: 0;
            line-height: 1rem;
            height: 2rem;
            width: 2rem;
            cursor: pointer;

            &:hover {
                background-color: #ccc;
            }
        }
    }

    .modal-body {
        padding: 0 25px 25px;
    }

    .modal-footer {
        display: flex;
    }

    .paddless {
        .modal-header > h2, .modal-body {
            padding: 0;
        }
    }
}

