<div
    class="modal fade {{size ? ( 'modal-' + size ) : ''}}"
    role="dialog"
    tabindex="-1"
    [class.modal-open]="visibleAnimate"
    *ngIf="visible">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>
                    <ng-container *ngTemplateOutlet="header;context:ctx"></ng-container>
                </h2>
                <button class="close" data-dismiss="modal" type="button" aria-label="Close" (click)="close()">×</button>
            </div>
            <div class="modal-body">
                <ng-container *ngTemplateOutlet="body;context:ctx"></ng-container>
            </div>
            <div class="modal-footer" (click)="footerClicked($event)">
                <ng-container *ngTemplateOutlet="footer;context:ctx"></ng-container>
            </div>
        </div>
    </div>
</div>