@import 'styles/common/colors';

:host {
	display: block;

	> section {
		background-color: @color-background;
		padding: 35px;
		margin-bottom: 0px;

		&.second, &.background-2 {
			background-color: @color-background-2;
		}

		&.third, &.background-3 {
			background-color: @color-background-3;
		}

		&.fourth, &.background-4 {
			background-color: @color-background-4;
		}
	}

	h2 {
		margin: 0;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 400;
		color: #FFFFFF;

		> .action {
			cursor: pointer;
			float: right;
			color: @color-default;

			transition: color 0.3s ease-in-out;

			&:hover {
				color: @color-white;
			}
		}

		> .view {
			cursor: pointer;
			color: @color-default;
			margin-left: 10px;
			font-size: 1rem;
			transition: color 0.3s ease-in-out;

			&.active {
				cursor: default;
				color: @color-white;
			}

			&:hover {
				color: @color-white;
			}
		}
	}
}

@media ( max-width: 500px ) {
	:host {
		display: block;

		> section {
			padding: 25px;
		}
	}
}
