<ng-container>
    <ng-container *ngIf="bodyOnly">
        <ng-container *ngTemplateOutlet="content;context:{}"></ng-container>
    </ng-container>
    <section class="section {{backgroundClass}}" *ngIf="!bodyOnly">
        <ng-container *ngTemplateOutlet="content;context:{}"></ng-container>
    </section>
</ng-container>

<ng-template #content>
    <h2 class="title" *ngIf="!hideTitle">
        {{title}}
        <ng-container *ngIf="views != null">
            <span *ngFor="let view of views" class="view fa fa-{{view.icon}}" [class.active]="view.active" [title]="view.title" (click)="onViewClicked(view)"></span>
        </ng-container>
        <uc-dropdown *ngFor="let dropdown of titleDropdowns; let i = index" [fullWidth]="true" [closeOnDropdownClick]="true">
            <a dropdown-trigger class="uc-button button-white button-xs" color="white" style="width: 100%;">{{ dropdown.value.text }}</a>
            <div dropdown-body>
                <a *ngIf="dropdown.hasNone" class="uc-button button-white button-block button-xs" color="white" (click)="titleDropdownsSelect.emit([i, undefined])">None</a>
                <ng-container *ngFor="let group of dropdown.options">
                    <a class="uc-button button-white button-xs button-block" color="white" (click)="titleDropdownsSelect.emit([i, group.value])">{{ group.text }}</a>
                </ng-container>
            </div>
        </uc-dropdown>
        <span class="action fa fa-{{iconAction}}" (click)="onTitleClicked()" *ngIf="isIconActive"></span>
        <span class="action" (click)="onTitleClicked()" *ngIf="titleAction && !isIconActive">{{titleAction}}</span>
    </h2>
    <ng-content></ng-content>
</ng-template>
