@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	z-index: 900;

	&.opaque nav {
		backdrop-filter: blur(10px);
	}
}

nav {
	background-color: @color-background;
	height: 100%;
	overflow-y: auto;

	transition: 0.3s background-color ease-in-out, backdrop-filter ease-in-out 0.3s;
	backdrop-filter: blur(0px);

	.menu-section {
		display: block;
		padding-bottom: 50px;
		margin-top: 20px;

		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}

@media ( max-width: 900px ) {
	:host {
		z-index: 2000;
	}
}
