<nav id="menu">
    <uc-scrollbar>
        <uc-dynamic-component *ngFor="let region of regions" [subject]="manager.getRegionContent( region ) | async" class="menu-section"></uc-dynamic-component>
    </uc-scrollbar>
</nav>