<uc-dropdown #dropdownDownload [embedded]="embedded" [fullWidth]="fullWidth" [width]="width" (openedChange)="onDropdownToggle($event)">
    <a dropdown-trigger class="uc-button button-white" [iconOnly]="iconOnly" icon="download" color="white" style="width: 100%;">
        <ng-container *ngIf="!iconOnly">Download</ng-container>
    </a>
    <div dropdown-body>
        <div class="message loading" *ngIf="sourcesState === SourcesLoadingState.Loading">Loading...</div>
        <div class="message error" *ngIf="sourcesState === SourcesLoadingState.Error"><i class="fa fa-exclamation-triangle"></i> Error loading</div>
        <ng-container *ngIf="sourcesState === SourcesLoadingState.Loaded">
            <a class="uc-button button-white button-block" icon="video-camera" color="white" *ngIf="sources.video" [href]="sources.video" [download]="sources.videoName" buttonSuffix="clipboard" (buttonSuffixClick)="clipboardCopy(sources.video)"><span translate>Video</span></a>
            <a class="uc-button button-white button-block" icon="creative-commons" color="white" *ngIf="sources.subtitles" [href]="sources.subtitles" [download]="sources.subtitlesName" buttonSuffix="clipboard" (buttonSuffixClick)="clipboardCopy(sources.subtitles)"><span translate>Legendas</span></a>
            <div class="message info" *ngIf="!sources.video && !sources.subtitles"><i class="fa fa-info-circle"></i> No streams found</div>
        </ng-container>
    </div>
</uc-dropdown>