@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    > uc-dropdown {
        width: 100%;
        box-sizing: border-box;
    }
    
    .message {
        font-style: italic;
        font-weight: 200;
        padding: 10px 20px;
        white-space: nowrap;
        width: 100%;
		text-align: center;
		color: @color-default;
        box-sizing: border-box;
    }

    .message.error i.fa {
        color: @color-warning;
    }

    .message.info i.fa {
        color: @color-info;
    }
}
