<uc-list-selector [currentItemId]="service.currentPresetId" [allowRemoval]="true" [emptyIcon]="'plus'" [emptyLabel]="'PRESETS.NEW'" [titleLabel]="'PRESETS.TITLE'"
                [list]="service.presets?.value | mapToIterable" (onItemChange)="service.changePreset($event.id)" (onRemoval)="service.removePreset($event.id)">
</uc-list-selector>
<span class="saveAction" (click)="saveFilters()" translate>BUTTONS.GENERAL.SAVE</span>
<div class="clearfix"></div>

<uc-input-modal #inputNewName [type]="'text'" [closeOnOutsideClick]="false">
    <ng-template #modalHeader><span translate>Preset Title</span></ng-template>
</uc-input-modal>