@import 'styles/common/colors';

uc-list-selector {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.saveAction {
    cursor: pointer;
    float: right;
    color: @color-default;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 16px;

    transition: color 0.3s ease-in-out;

    &:hover {
        color: @color-white;
    }
}