@import 'styles/common/colors';
@import 'styles/common/fonts';

.host {
    .no-text-select();

    display: block;
    cursor: pointer;
    background-size: cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-position: 0% 0%, center center;

    .player-media-info {
        padding: 20px;
        background-color: rgba( 0, 0, 0, 0.5 );

        transition: background-color ease-in-out 0.3s;
    }

    &:hover .player-media-info {
        background-color: rgba( 0, 0, 0, 0.3 );
    }

    .now-playing {
        color: darken( @color-white, 15% );
        margin-bottom: 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    h3, h4, h5 {
        margin: 0;
    }

    h3 {
        font-family: @font-coves;
        font-size: 30px;
        margin-bottom: 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    h5 {
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .toolbar {
        display: flex;
        justify-content: space-around;
        padding: 15px 10px 0;
    }
}