<div class="host" [uc-background]="artwork" [background-width]="400" >
    <!--[ngStyle]="{ 'background-image': 'url( ' + artwork + '?width=400 )' }"-->
    <div class="player-media-info">
        <div class="player-media-info-text" [@infoOpenClose]="!expanded || toolbarOpen ? 'open' : 'closed'">
            <div *ngIf="!!status" class="now-playing">{{status}}</div>
            <h3 class="media-title" [title]="title">{{title}}</h3>
            <h5 class="media-subtitle">{{subtitle}}</h5>
        </div>

        <div class="toolbar" #toolbarRef [@toolbarOpenClose]="toolbarOpen ? 'open' : 'closed'">
            <ng-content></ng-content>
        </div>
    </div>
</div>