@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	-webkit-overflow-scrolling: touch;

	&.nowrap {
		flex-wrap: nowrap;
		overflow: auto;
		justify-content: flex-start;
	}

	&.horizontal {
		padding: 10px 0;
	}
}
