@color-transparency: 0.60;
@color-warning: #dd8f22;
@color-success: #00bd6b;
@color-info: #00ccff;
@color-danger: #ea1100;
@color-default: #8d9397;
@color-white: #ffffff;
@color-light-shade: #23272c;
@color-medium-shade: #17191b;
@color-dark-shade: #040608;
@color-disabled: #708090;
@color-transparent: transparent;
@color-background: rgba(18, 21, 25, @color-transparency );
@color-background-2: lighten( @color-background, 30%, relative );
@color-background-3: lighten( @color-background, 55%, relative );
@color-background-4: lighten( @color-background, 80%, relative );