.font ( @fontFamily: Arial; @fontWeight: normal; @fontStyle: normal ) {
    font-family: @fontFamily, 'Open Sans', Arial, sans-serif;
    font-style: @fontStyle;
    font-weight: @fontWeight;
}

@fonts-fallback: 'Roboto', 'Open Sans', Arial, sans-serif;
@font-quicksand: Quicksand, @fonts-fallback;
@font-coves: Coves, @fonts-fallback;
@font-anders: Anders, @fonts-fallback;
@font-catamaran: Catamaran, @fonts-fallback;

.no-text-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.text-select {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}
