<uc-section class="seasons-list" [background]="sectionBackground" title="Seasons">
    <uc-thumbnails-list class="horizontal" [class.nowrap]="mediaQueries.isSmartphoneScreen | async" ucDiscreteScroller ucSelectableContainer>
        <uc-thumbnail-media
            ucDiscreteScrollerElement
            (ucDiscreteScrollerElementSelected)="select( season )"

            *ngFor="let season of seasons"
            [media]="season"
            [active]="season == active"
            [contextMenu]="[]"
            [growOnActive]="true"
            (action)="select( season )">
        </uc-thumbnail-media>
    </uc-thumbnails-list>
</uc-section>