@import 'styles/common/colors';

:host {
	flex: 1 1 auto;
	display: flex;
    flex-direction: column;

    h3 {
        margin-bottom: 5px;
        margin-left: 10px;
    }

    div.section{
        flex-direction: row;
        padding: 10px;
        padding-top: 0px;
    }

    div.sync{
        max-width: 250px;

        uc-button {
            margin: 10px 0px;
        }
    }

    div.api{
        input {
            min-width: 400px;
        }
    }
    
    .reports-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 45px 20px;
        margin: 0 -25px;
        background-color: #242a31;
        flex-wrap: wrap;

        .toggle-options-list {
            margin: 8px 0;

            ::ng-deep .inner {
                padding: 7px 7px 6px 7px;
            }
        }
    }

    .reports-options {
        height: 450px;
        max-height: 450px;
        overflow: auto;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -25px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .sync-options {
            display: block;
            font-size: 14px;
            margin: 7px 0;

            i {
                color: @color-default;
            }

            &.active i {
                color: @color-success;
            }
        }
        
        .advancedOptions {
            cursor: pointer;
        }

        p {
            margin: 10px;
        }
    }

    .sync-reports-list {
        height: 450px;
        max-height: 450px;
        overflow: auto;
        margin-left: -25px;
        margin-right: -25px;
        margin-bottom: -25px;

        .missing-reports {
            padding: 40px;
            text-align: center;
            color: @color-default;
        }

        .sync-report {
            cursor: pointer;
            padding: 20px 45px;

            &:hover {
                background-color: @color-background-2;
            }

            .report-poster {
                width: 60px;
                float: left;
                margin-right: 20px;
            }

            h5 {
                text-transform: uppercase;
                margin: 0px 10px 5px;
                font-size: 15px;

                .report-subtitle {
                    color: @color-default;
                    font-weight: 300;
                }
                
                &.report-error {
                    color: @color-danger;
                }
                
                &.report-create {
                    color: @color-info;
                }
                
                &.report-update, &.report-move {
                    color: @color-success;
                }

                &.report-remove {
                    color: @color-warning;
                }
            }

            .report-message {
                word-break: break-word;
                margin: 0;
            }
            
            .report-file {
                word-break: break-word;
                color: @color-default;
                font-size: 12px;
                margin: 0;
            }

            pre.report-diff {
                font-size: 12px;
                word-wrap: break-word;
                white-space: break-spaces;
            }
        }
    }

    .reports-footer {
        display: flex; 
        justify-content: center; 
        padding: 20px 0 20px 0; 
        width: 100%; 
        background-color: #242a31;

        uc-button {
            min-width: 200px; 
            margin-left: 10px !important;
            margin-right: 10px !important;
        }

        uc-button[ng-reflect-icon-only=true] {
            min-width: auto; 
        }
    }

    .reports-footer-status {
        display: flex;
        justify-content: center;
        padding: 18px 0 18px 0;
        width: 100%;
        background-color: #242a31;
        flex-direction: column;
        align-items: center;
        height: 65px;

        uc-loader {
            display: inline-block;
            padding: 3px 0 13px 0;
        }

        > p {
            display: inline-block;
            margin: 0;
            font-size: 13px;
            color: @color-default;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            padding: 0 40px;
            box-sizing: border-box;
        }
    }
}