<h3 translate>SETTINGS.API.TITLE</h3>
<div class="section api">
    <input #inputApiUrl type="text" [ngModel]="apiUrl" />
    <uc-button icon="save" iconOnly="true" class="button-success button-sm" (click)="changeApi(inputApiUrl.value)"></uc-button>
</div>
<h3 translate>SETTINGS.LANGUAGE.TITLE</h3>
<div class="section language">
    <select #selectLanguage [ngModel]="currentLanguage" (ngModelChange)="changeCurrentLanguage(selectLanguage.value)">
        <option *ngFor="let language of languages" [value]="language.value">{{ language.text }}</option>
    </select>
</div>
<h3 translate>SETTINGS.SYNC.TITLE</h3>
<div class="section sync">
    <uc-button class="button-success button-xs" (click)="syncModalShow()"><span translate>SETTINGS.SYNC.INSERT</span></uc-button>
    <uc-button class="button-info button-xs" (uc-async)="repair($event)"><span translate>SETTINGS.SYNC.REPAIR</span></uc-button>

    <uc-modal #syncReportModal size="medium" [closeOnButtonClick]="false">
        <ng-template #modalHeader>
            <span translate>SETTINGS.SYNC.MODAL_TITLE</span>
        </ng-template>
        <ng-template #modalBody>
            <div>
                <div class="reports-toolbar">
                    <span style="width: 100%;">
                        <input style="width: 100%; margin-bottom: 15px;" type="text" placeholder="Pesquisar..." [(ngModel)]="syncReportFilter.search" (input)="filterSyncReports()" />
                    </span>

                    <uc-button class="toggle-options-list button-success button-xs" [disabled]="runningSyncTask == null" [class.button-featured]="runningSyncOptionsVisible" icon="cogs" (click)="runningSyncOptionsVisible = !runningSyncOptionsVisible">Opções</uc-button>

                    <span>
                        <input id="ckbShowChanges" type="checkbox" [(ngModel)]="syncReportFilter.showChanges" (change)="filterSyncReports()" />
                        <label for="ckbShowChanges">Changes</label>
                    </span>

                    <span>
                        <input id="ckbShowNewErrors" type="checkbox" [(ngModel)]="syncReportFilter.showNewErrors" (change)="filterSyncReports()" />
                        <label for="ckbShowNewErrors">New Errors</label>
                    </span>

                    <span>
                        <input id="ckbShowOldErrors" type="checkbox" [(ngModel)]="syncReportFilter.showOldErrors" (change)="filterSyncReports()" />
                        <label for="ckbShowOldErrors">Old Errors</label>
                    </span>
                </div>

                <div class="sync-reports-list" *ngIf="!runningSyncOptionsVisible && runningSyncTask != null">
                    <div class="sync-report" *ngFor="let report of syncReportsFiltered">
                        <img class="report-poster" [src]="report.poster" *ngIf="report.poster != null" />
                        <h5 class="report-{{report.type}}"><i class="fa fa-{{report.icon}}"></i> <b>{{report.title}}</b> <span class="report-subtitle">{{report.subtitle}}</span></h5>
                        <p class="report-message">{{report.message}}</p>
                        <p class="report-file" *ngFor="let file of report.files">
                            <b *ngIf="file.tag">{{file.tag}}</b>
                            {{file.path}}
                        </p>
                        <div class="clearfix"></div>
                        <pre class="report-diff" *ngIf="report.diff != null">{{report.diff}}</pre>
                    </div>

                    
                    <div class="missing-reports" *ngIf="syncReportsFiltered.length == 0">
                        No reports visible yet.
                    </div>
                </div>

                <div class="reports-options" *ngIf="runningSyncOptionsVisible || runningSyncTask == null">
                    <div class="reports-options-list" style="align-items: center;" *ngIf="runningSyncTask != null && runningSyncTask.state == 'running'">
                        <span class="sync-options" [class.active]="syncOptions.dryRun">
                            <i class="fa fa-{{syncOptions.dryRun ? 'check' : 'minus'}}"></i>
                            <span translate>SETTINGS.SYNC.DRY_RUN</span>
                        </span>
                        <span class="sync-options" [class.active]="syncOptions.cleanMissing">
                            <i class="fa fa-{{syncOptions.cleanMissing ? 'check' : 'minus'}}"></i>
                            <span translate>SETTINGS.SYNC.CLEAN_MISSING</span>
                        </span>
                        <span class="sync-options" [class.active]="syncOptions.refetchExisting">
                            <i class="fa fa-{{syncOptions.refetchExisting ? 'check' : 'minus'}}"></i>
                            <span translate>SETTINGS.SYNC.REFETCH_EXISTING</span>
                        </span>
                        <span class="sync-options" [class.active]="syncOptions.refetchIncomplete">
                            <i class="fa fa-{{syncOptions.refetchIncomplete ? 'check' : 'minus'}}"></i>
                            <span translate>SETTINGS.SYNC.REFETCH_INCOMPLETE</span>
                        </span>
                        <span class="sync-options" [class.active]="syncOptions.updateMoved">
                            <i class="fa fa-{{syncOptions.updateMoved ? 'check' : 'minus'}}"></i>
                            <span translate>SETTINGS.SYNC.UPDATE_MOVED</span>
                        </span>
                        <span class="sync-options" [class.active]="syncOptions.cache.read">
                            <i class="fa fa-{{syncOptions.cache.read ? 'check' : 'minus'}}"></i>
                            <span translate>SETTINGS.SYNC.CACHE_READ</span>
                        </span>
                        <span class="sync-options" [class.active]="syncOptions.cache.write">
                            <i class="fa fa-{{syncOptions.cache.write ? 'check' : 'minus'}}"></i>
                            <span translate>SETTINGS.SYNC.CACHE_WRITE</span>
                        </span>
                    </div>
                    <div class="reports-options-list" *ngIf="runningSyncTask == null || runningSyncTask.state == 'finished'">
                        <p>
                            <input id="ckbDryRun" type="checkbox" [(ngModel)]="syncOptions.dryRun" />
                            <label for="ckbDryRun" translate>SETTINGS.SYNC.DRY_RUN</label>
                        </p>
                        <p>
                            <input id="ckbCleanMissing" type="checkbox" [(ngModel)]="syncOptions.cleanMissing" />
                            <label for="ckbCleanMissing" translate>SETTINGS.SYNC.CLEAN_MISSING</label>
                        </p>
                        <p>
                            <input id="ckbRefetchExisting" type="checkbox" [(ngModel)]="syncOptions.refetchExisting" />
                            <label for="ckbRefetchExisting" translate>SETTINGS.SYNC.REFETCH_EXISTING</label>
                        </p>
                        <p>
                            <input id="ckbRefetchIncomplete" type="checkbox" [(ngModel)]="syncOptions.refetchIncomplete" />
                            <label for="ckbRefetchIncomplete" translate>SETTINGS.SYNC.REFETCH_INCOMPLETE</label>
                        </p>
                        <p>
                            <input id="ckbUpdateMoved" type="checkbox" [(ngModel)]="syncOptions.updateMoved" />
                            <label for="ckbUpdateMoved" translate>SETTINGS.SYNC.UPDATE_MOVED</label>
                        </p>
                        <br/>
                        <span class="advancedOptions" (click)="advancedChar = (advancedChar == '>' ? 'v' : '>')"><span translate>SETTINGS.SYNC.ADVANCED_OPTIONS</span>: {{advancedChar}}</span><br/>
                        <div *ngIf="advancedChar == 'v'">
                            <p>
                                <input id="ckbCacheRead" type="checkbox" [(ngModel)]="syncOptions.cache.read" />
                                <label id="ckbCacheRead" translate>SETTINGS.SYNC.CACHE_READ</label>
                            </p>
                            <p>
                                <input id="ckbCacheWrite" type="checkbox" [(ngModel)]="syncOptions.cache.write" />
                                <label for="ckbCacheWrite" translate>SETTINGS.SYNC.CACHE_WRITE</label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #modalFooter class="reports-toolbar">
            <div class="reports-footer-status" *ngIf="runningSyncTask != null && runningSyncTask.state == 'running'">
                <uc-loader type="folding-cube" size="20">Syncing...</uc-loader>
                <p>{{runningSyncTask.statusMessage || 'Scanning folders...'}}</p>
            </div>
            <div class="reports-footer" *ngIf="runningSyncTask == null || runningSyncTask.state == 'finished'">
                <uc-button class="button-warning button-sm button-featured" (click)="syncReportModal.close()">Fechar</uc-button>
                <uc-button class="button-success button-sm button-featured" (click)="sync()">Atualizar</uc-button>
            </div>
        </ng-template>
    </uc-modal>

</div>
<h3 translate>SETTINGS.FILTERS.TITLE</h3>
<div class="section filters">
    <uc-button class="button-danger button-xs" (uc-async)="clearFilters($event)"><span translate>SETTINGS.FILTERS.CLEAR</span></uc-button>
</div>