<ng-container>
    <ng-content></ng-content>
    <div class="droploader-overlay" [class.visible]="visible">
        <div class="center">
            <!--  (change)="onFileSelected($event.target.files)" -->
            <input type="file" #fileDropRef multiple />
            <i class="fa fa-upload"></i>
            <div>Drag subtitle files (.srt)</div>
        </div>
    </div>
</ng-container>
