@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    position: relative;
    display: block;

    .droploader-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(221, 143, 34, 0.09);
        backdrop-filter: blur(4px);
        border: solid 2px #dd8f22;

        opacity: 0;
        max-height: 0;

        transition: opacity 0.3s ease-in-out, max-height 0.01s ease-in-out 0.3s;

        &.visible {
            opacity: 1;
            max-height: 10000vh;

            transition: opacity 0.3s ease-in-out, max-height 0.01s ease-in-out 0s;
        }

        .center {
            cursor: pointer;
            border: dashed 2px #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;

            input {
                visibility: hidden;
                height: 0px;
            }

            i.fa {
                display: block;
                font-size: 60px;
            }

            div.label {
                margin-top: 20px;
                font-family: Coves, 'Roboto', 'Open Sans', Arial, sans-serif;
            }
        }
    }
}
