<uc-modal #modal>
    <ng-template #modalHeader>
        <ng-container *ngTemplateOutlet="header;context:ctx"></ng-container>
    </ng-template>
    <ng-template #modalBody>
        <ng-container *ngTemplateOutlet="body;context:ctx"></ng-container>
    </ng-template>
    <ng-template #modalFooter>
        <uc-button class="button-warning flex" (click)="callCancel()"><span translate>BUTTONS.GENERAL.CANCEL</span></uc-button>
        <uc-button class="button-success flex" (click)="callConfirm()"><span translate>BUTTONS.GENERAL.CONFIRM</span></uc-button>
    </ng-template>
</uc-modal>