@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    width: 600px;
    background-color: fade( @color-background, 90% );
    transform: translateX( -50% );
    z-index: 1200;
    box-sizing: border-box;

    @media (max-width: 600px) {
        width: auto;
        transform: none;
    }
}

@topover-padding: 40px;

.command-info {
    color: @color-default;

    .command-sign {
        font-weight: 500;
        color: @color-warning;
        font-family: @font-coves;
    }

    .command-field {
        color: @color-white;
    }

    .command-description {
        line-height: 1.4;
        letter-spacing: 2px;
        padding: @topover-padding / 2 @topover-padding;

        background-color: @color-background-4;
    }

    .command-timer {
        display: block;
        width: 100%;
        height: 4px;

        .command-timer-progress {
            display: block;
            height: 100%;

            &.waiting {
                animation: timer-progress 10s linear 0s;
                background-color: @color-success;
                width: 100%;
            }

            &.canceled {
                width: 100%;
                background-color: @color-warning;
            }

            &.confirmed {
                width: 100%;
                background-color: @color-success;
            }
        }
    }

    .command-actions {
        display: flex;
        flex-direction: row;

        .command-action-button {
            flex: 1 1 auto;
        }
    }
}

@keyframes timer-progress {
    0% {
        width: 0%;
    }

    0%, 25% {
        background-color: @color-warning;
    }

    100%, 75% {
        background-color: @color-success;
    }

    100% {
        width: 100%;
    }
}

.command-input {
    text-align: center;
    font-family: @font-quicksand;
    margin: @topover-padding 0;
    padding: @topover-padding / 2 @topover-padding;
    background-color: @color-background-4;

    .interim {
        color: @color-default;
    }
}

.cursor-layer {
    .cursor {
        background-color: @color-info;
        display: inline-block;
        color: transparent;
        width: 2px;
        animation: monaco-cursor-expand .5s ease-in-out 0s infinite alternate;
    }

    .cursor::before {
        content: " ";
    }
}

@keyframes monaco-cursor-expand {
    0% , 20% {
        transform: scaleY(1)
    }

    80%, to {
        transform:scaleY(0)
    }
}

.loader {
    width: 100%;
    text-align: center;
    padding: @topover-padding;
    box-sizing: border-box;

    .sk-folding-cube {
        width: 25px;
        height: 25px;
    }
}