<ng-container [ngSwitch]="showing">
    <ng-container *ngSwitchCase="SHOWS_INPUT">
        <div class="command-input" *ngIf="processingMessage.clean">
            <span role="presentation" aria-hidden="true" class="cursor-layer">
                    <span class="cursor">a</span>
            </span><span class="interim" translate>COMMANDS.GENERAL.WHAT_YOUR_REQUEST</span>
        </div>
        <div class="command-input" *ngIf="!processingMessage.clean">
            {{ processingMessage.normal }}
            <span class="interim">{{ processingMessage.interim }}</span><span role="presentation" aria-hidden="true" class="cursor-layer">
                    <span class="cursor">a</span>
            </span>
        </div>
    </ng-container>

    <div class="loader" *ngSwitchCase="SHOWS_PROCESSING">
        <uc-loader type="folding-cube" size="40"> {{'COMMANDS.GENERAL.PROCESSING' | translate}}</uc-loader>
    </div>

    <div class="command-info" *ngSwitchCase="SHOWS_EXECUTING">
        <div class="command-description">
            <ng-container *ngFor="let msg of executingMessage.msgs" [ngSwitch]="msg.type">
                <ng-container *ngSwitchCase="'NORMAL'">
                    {{ msg.msg }}
                </ng-container>
                <span *ngSwitchCase="'FIELD'" class="command-field">
                    {{ msg.msg }}
                </span>
            </ng-container>
        </div>
        <div *ngIf="executingCancellable || executingUndoable" class="command-timer">
            <div class="command-timer-progress" [class.waiting]="!confirmed && !canceled" [class.confirmed]="confirmed" [class.canceled]="canceled"></div>
        </div>
    </div>
    <ng-container *ngSwitchDefault>

    </ng-container>
</ng-container>

