<div style="text-align: right; padding-right: 10px;">
    <uc-list-selector style="display: inline-block;" [titleLabel]="'COLLECTION.MANAGE'" [emptyLabel]="'COLLECTION.NONE'" [list]="collections" (onItemChange)="selectCollection($event)"></uc-list-selector>
</div>
<uc-thumbnails-list ucSelectableContainer infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScroll()" [immediateCheck]="true">
    <uc-thumbnail-media
        ucSelectable #selectable=selectable
        *ngFor="let thumbnail of data"
        [media]="thumbnail"
        [active]="selectable.active"
        [link]="[ '/movies', thumbnail.id ]"
        [contextMenu]="actionButtons"
        [tags]="tags">
    </uc-thumbnail-media>
</uc-thumbnails-list>
<uc-autoscroll-up-down></uc-autoscroll-up-down>
<div *ngIf="!_allRequested" style="text-align: center; padding-top: 10px;">
    <a class="uc-button button-success button-center" (click)="loadMore()">Load More</a>
</div>
