@import 'styles/common/colors';
@import 'styles/common/fonts';

uc-scrollbar {
    width: 100%;
    display: flex;
    flex-direction: column;

    ::ng-deep .ps-content {
        border-bottom: 2px solid rgba(18, 21, 25, 0.8);
    }
}

.player-group-header {
    padding: 5px 5px 7px;
    background-color: rgba(18, 21, 25, 0.8);
    border-top: 2px solid rgba(18, 21, 25, 0.6);
    font-size: 11px;
}

.player-row {
    background-color: rgba(18, 21, 25, 0.6);
    padding-bottom: 10px;
    padding-top: 10px;
    
    .group-name {
        font-size: 10px;
    }

    uc-player-control {
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;

        ::ng-deep .icon {
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 5px;
        }
    }
}

.action {

    .action-icon {
        height: 32px;
        width: 32px;

        ::ng-deep svg {
            height: 100%;
            width: 100%;
        }
    }
}



.custom-action-items {
    // flex: 1 1 auto;
    overflow: auto;
    height: 100%;

    uc-media-badge {
        margin-bottom: 5px;
    }
}

.missing-actions {
    padding: 40px;
    text-align: center;
    color: @color-default;
}
