<uc-scrollbar>
    <div class="missing-actions" *ngIf="!loaded">
        {{ 'SECTIONS.GENERAL.LOADING' | translate }}
    </div>
    <div *ngIf="loaded" class="custom-actions-items">
        <ng-container *ngFor="let group of groups">
            <div class="player-group-header">{{ group.name }}</div>
            <div class="player-row">
                <uc-player-control *ngFor="let action of group.actions" class="action">
                    <uc-button class="button-xxs" (uc-async)="actionClick(action, $event)" [iconPosition]="IconPosition.Top"  [svg]="action.icon" [iconOnly]="false">{{ action.label }}</uc-button>
                </uc-player-control>
            </div>
        </ng-container>
    </div>
</uc-scrollbar>