.toast-container {
    visibility: hidden; /* Hidden by default. Visible on click */
    left: 50%; /* Center the snackbar */
    bottom: 71px + 30px; /* 30px from the bottom */
    position: fixed; /* Sit on top of the screen */
    z-index: 1500; /* Add a z-index if needed */
    -webkit-animation: toast_fadeout 0.3s;
    animation: toast_fadeout 0.3s;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast-container.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: toast_fadein 0.3s;
    animation: toast_fadein 0.3s;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.toast {
    min-width: 150px; /* Set a default minimum width */
    // margin-left: -125px; /* Divide value of min-width by 62 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 50px; /* Rounded borders */
    padding: 10px; /* Padding */
    font-size: 15px;
    position: relative;
    left: -50%;
}
  

/* Animations to fade the snackbar in and out */
@-webkit-keyframes toast_fadein {
    from {bottom: 71px; opacity: 0;}
    to {bottom: 71px + 30px; opacity: 1;}
}

@keyframes toast_fadein {
    from {bottom: 71px; opacity: 0;}
    to {bottom: 71px + 30px; opacity: 1;}
}

@-webkit-keyframes toast_fadeout {
    from {bottom: 71px + 30px; opacity: 1;}
    to {bottom: 71px; opacity: 0;}
}

@keyframes toast_fadeout {
    from {bottom: 71px + 30px; opacity: 1;}
    to {bottom: 71px; opacity: 0;}
} 