@import 'styles/common/colors';

:host {
    height: 100%;
    display: flex;
    // Vertical
    align-content: flex-start;
    //Horizontal
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
}

:host(.align-bottom) {
    align-content: flex-start;
    align-items: flex-start;
}

:host(.align-middle) {
    align-content: center;
    align-items: center;
}

:host(.align-top) {
    align-content: flex-end;
    align-items: flex-end;
}

:host(.align-left) {
    justify-content: flex-start;
}

:host(.align-center) {
    justify-content: center;
}

:host(.align-right) {
    justify-content: flex-end;
}

.tag {
    background-color: @color-medium-shade;
    padding: 5px;
    font-size: 14px;
    margin-left: 5px;
    margin: 5px;
}