@import 'styles/common/colors';

:host {
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
    padding: 20px 0;
    margin: 0px 10px;
    color: @color-default;
    fill: @color-default;

    //transition: color ease-in-out 0.3s;

    &[group] {
        background-color: @color-background;
        border-bottom: 2px @color-background solid;
        margin: 0;
        width: auto;
        flex: 1 1 auto;
        text-align: center;

        &.active {
            border-bottom-color: @color-warning;
        }
    }

    &:hover:not(.disabled) {
        color: @color-white;
        fill: @color-white;
    }

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        color: @color-disabled;
        fill: @color-disabled;
    }
}