@import 'styles/common/colors';
@import 'styles/common/fonts';

@slideout-width: 306px;

:host {
	padding: 0 0 71px 0;
	background-color: fade( @color-background, 100% );
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	main {
		margin-left: @slideout-width;
		position: relative;
		// z-index: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
		flex: 1 1 auto;
	}

	uc-sidebar {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: @slideout-width;
	}

	a.slideout-menu-toggle {
		display: none;
	}

	&.backdrop-opened {
		overflow: hidden;

		.backdrop {
			visibility: visible;
			opacity: 1;
		}
	}
}

@media ( max-width: 1100px ) {
	:host {
		main {
			margin-left: 0;
		}
	}
}