<div pageArt></div>
<uc-command-center></uc-command-center>
<uc-sidebar
    #sidemenu=hamburger
    [class.opaque]="isHamburgerEnabled && isHamburgerOpen"

    ucHamburger
    [ucHamburgerEnabled]="isHamburgerEnabled"
    (ucHamburgerOpenChange)="isHamburgerOpen = $event"

    modalScrollbar
    [modalScrollbarEnabled]="isHamburgerEnabled && isHamburgerOpen">
</uc-sidebar>
<main modalScrollbar="body" scrollable scrollableSelector="body">
    <uc-topbar></uc-topbar>

    <router-outlet></router-outlet>
</main>
<div class="backdrop"
    [class.visible]="isHamburgerEnabled && isHamburgerOpen"
    (click)="closeHamburger()"
></div>
<uc-footer-player></uc-footer-player>
<uc-toast></uc-toast>
