<a class="link" [routerLink]="['/movies']"><i class="fa fa-film" aria-hidden="true"></i> Movies </a>
<a class="link" [routerLink]="['/shows']"><i class="fa fa-television" aria-hidden="true"></i> TV Shows </a>
<a class="link" [routerLink]="['/history']"><i class="fa fa-video-camera" aria-hidden="true"></i> History </a>
<a class="link" [routerLink]="['/people']"><i class="fa fa-users" aria-hidden="true"></i> People </a>
<a class="link" [routerLink]="['/settings']"><i class="fa fa-gears" aria-hidden="true"></i> Settings </a>