@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	display: flex;
	flex-direction: column;
	min-height: 500px;
	height: 100%;

	.link {
		.font( @font-coves, 200 );
		font-size: 40px;

		display: flex;
		flex: 1 1 auto;
		align-items: center;
		justify-content: center;

		width: 100%;
		margin: 20px 0px;

		// border: 1px solid darken( @color-success, 20% );
		// border-radius: 5px;
		background-color: lighten( @color-dark-shade, 5% );
		text-decoration: none;
		color: @color-white;
		cursor: pointer;

		i {
			margin-right: 15px;
		}

		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: lighten( @color-dark-shade, 0% );
		}
	}
}
