<div class="player-icon">
    <i class="fa fa-{{icon || defaultTypeIcons[ type ] || 'rebel'}}"></i>
</div>
<div class="player-details">
    <span class="player-name">{{name}}</span>
    <span class="player-type">{{type}}</span>
</div>