@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    background-color: @color-light-shade;
    padding: 10px;
    padding-right: 20px;
    display: flex;
    cursor: pointer;
    z-index: 1200;
    .no-text-select();

    transition: background-color ease-in-out 0.3s;

    &:hover, &.active {
        background-color: lighten( @color-light-shade, 4% );
        // background-color: @color-warning;
    }

    // &:hover {
    //     background-color: darken( @color-warning, 20% );

    //     .player-type {
    //         color: lighten( @color-default, 30% );
    //     }
    // }

    &.isError {
        color: @color-danger;
    }

    &.isRequesting {
        color: @color-warning;
    }

    .player-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        margin-right: 15px;
        margin-left: 7px;
    }

    .player-details {
        overflow: hidden;
    }

    .player-name {
        display: block;
        font-family: @font-coves;
        font-size: 24px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .player-type {
        font-size: 15px;
        color: @color-default;
        text-transform: capitalize;
    }
}