<div class="withIcon" (click)="onHostClick()" [ngClass]="{'withPointer': collapsible}">
    <span *ngIf="collapsible" style="margin-right: 10px;">
        <i class="fa fa-{{iconOpened}}" *ngIf="!collapsed"></i>
        <i class="fa fa-{{iconClosed}}" *ngIf="collapsed"></i>
    </span>
    <ng-content select="[title]"></ng-content>
</div>
<ng-content *ngIf="!collapsed || !collapsible" select="[content]"></ng-content>