@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    display: block;
    background-color: @color-background;

    &.first, &.background-1 {
        background-color: fade( @color-background, 95% );
    }

    &.second, &.background-2 {
        background-color: fade( @color-background-2, 95% );
    }
}

@command-action-padding: 20px;

.command-action-title {
    .command-action-sign {
        font-weight: 500;
        color: @color-warning;
        font-family: @font-coves;
    }

    .command-action-close-button {
        float: right;
        margin-right: 10px;

        color: fade( @color-default, 0% );
        cursor: pointer;

        transition: color 0.2s ease-in-out;
    }

    text-transform: uppercase;
    font-family: @font-catamaran;
    font-weight: 500;
    font-size: 30px;
    padding: @command-action-padding * 0.75 @command-action-padding * 0.75 @command-action-padding / 4;
}

:host:hover .command-action-close-button {
    color: fade( @color-default, 100% );
}

.command-action-body {
    padding: @command-action-padding;

    &.with-title {
        padding-top: @command-action-padding / 2;
    }
}

.command-action-buttons {
    display: flex;
    flex-direction: row;

    .command-action-button {
        flex: 1 1 auto;
    }
}