<div class="command-action-title" *ngIf="title">
    <span class="command-action-sign">#</span> {{title | translate}}
    <a class="command-action-close-button" *ngIf="closable" (click)="closeSelf()"><i class="fa fa-times"></i></a>
</div>
<div class="command-action-body" [class.with-title]="title">
    <ng-container #actionBody></ng-container>
</div>
<div class="command-action-buttons" *ngIf="actionButtons.length">
    <div class="command-action-button" *ngFor="let button of actionButtons">
        <uc-button class="button-{{button.type || 'white'}} button-fill button-sm" [icon]="button.icon" (click)="onActionButton( button )">{{button.label | translate}}</uc-button>
    </div>
</div>
