@import 'styles/common/colors';
@import 'styles/common/fonts';

.icon {
    float: left;
    font-size: 45px;

    i.error {
        color: @color-danger;
    }

    i.info {
        color: @color-info;
    }

    i.success {
        color: @color-success;
    }

    i.warning {
        color: @color-warning;
    }
}

.message {
    margin-left: 55px;
    text-align: left;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}