<div class="icon" [ngSwitch]="type">
    <i *ngSwitchCase="notificationType.ERROR" class="error fa fa-exclamation-circle"></i>
    <i *ngSwitchCase="notificationType.WARN" class="warning fa fa-exclamation-triangle"></i>
    <i *ngSwitchCase="notificationType.INFO" class="info fa fa-info-circle"></i>
    <i *ngSwitchCase="notificationType.SUCCESS" class="success fa fa-check"></i>
    <i *ngSwitchCase="notificationType.QUESTION" class="warning fa fa-question-circle"></i>
</div>
<div class="message">
    <p *ngFor="let paragraph of paragraphs">{{paragraph}}</p>
</div>
<div class="clearfix"></div>