@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	display: block;
	min-width: 0;

	input.search {
		color: @color-default;
		background-color: @color-transparent;
		border: none;
		font-size: 25px;
		font-family: @font-quicksand;
		font-weight: 200;
		padding: 15px;
        width: 100%;

		transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;

		&:focus, &:active {
			background-color: fade( @color-default, 30% );
            color: @color-white;
        }
    }
}