<uc-media-badge [item]="item"
                [title]="item.title"
                [subtitle]="item | episodeSubcaption"
                [artwork]="item.cachedArtwork.thumbnail"
                [status]="status"
                [expanded]="expanded">
    <ng-content></ng-content>
</uc-media-badge>
