@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    box-shadow: 0px 0px 20px 7px rgba(0, 0, 0, 0.25);
    visibility: hidden;
    position: absolute;
    opacity: 0;
    // left: 0;
    right: 0;
    min-width: 400px;
    z-index: 1100;

    // background-color: fade( lighten( @color-light-shade, 4% ), 96% );
    background-color: lighten( @color-light-shade, 4% );

    transition: opacity ease-in-out 0.2s;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    display: flex;
    flex-direction: column;
}

.player-remote-header {
    .no-text-select();

    flex: 0 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0;
    display: flex;

    > .label {
        flex: 1 1 auto;
    }

    > .icon {
        flex: 0 0 auto;

        transition: color ease-in-out 0.3s;
    }

    transition: background-color ease-in-out 0.3s;

    &:hover {
        background-color: lighten( @color-light-shade, 7% );

        > .icon {
            color: @color-warning;
        }
    }
}

.player-remote-page {
    flex: 1 1 auto;
    overflow: auto;
    max-height: 450px;
}

:host.fullscreen .player-remote-page {
    height: 100%;
    max-height: none;
}

.player-remote-tabs {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;

    .tab {
        display: flex;
        flex: 1 0 auto;
        height: 70px;
        text-align: center;
        font-size: 40px;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: @color-default;
        background-color: @color-background;

        &.active {
            color: @color-white;
            background-color: @color-background-3;
        }
    }
}
