<h4 class="player-remote-header" (click)="close()">
    <span class="label">{{selectedTab.title}}</span>
    <span class="icon"><i class="fa fa-chevron-down"></i></span>
</h4>
<ng-container [ngSwitch]="selectedTab.name" >
    <uc-player-remote-controls class="player-remote-page" *ngSwitchCase="'controls'" (layoutChange)="layoutChange.next()"></uc-player-remote-controls>
    <uc-player-remote-playlists class="player-remote-page" *ngSwitchCase="'playlists'" (layoutChange)="layoutChange.next()"></uc-player-remote-playlists>
    <uc-player-remote-sessions class="player-remote-page" *ngSwitchCase="'sessions'" (layoutChange)="layoutChange.next()"></uc-player-remote-sessions>
    <uc-player-remote-custom-actions class="player-remote-page" *ngSwitchCase="'customActions'" (layoutChange)="layoutChange.next()"></uc-player-remote-custom-actions>
</ng-container>
<div class="player-remote-tabs">
    <a *ngFor="let tab of remoteTabs" class="tab" [class.active]="selectedTab.name == tab.name" (click)="selectTab( tab.name )">
        <i class="fa fa-{{tab.icon}}"></i>
    </a>
</div>