uc-menu-subsection {
    padding-right: 20px;
    padding-bottom: 300px;
}

uc-auto-complete {
    width: 100%;

    input[type="text"] ::ng-deep {
        padding: 5px;
    }

    /* Media Specific Styles */
    a.media {
        img {
            flex: 0 0 auto;
            margin-right: 10px;
            width: 30px;
        }

        ::ng-deep .inner .label {
            display: flex;
            flex-direction: row;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            align-items: center;
        }
    }
}