<uc-menu-subsection label="{{'Media' | translate}}">
    <uc-auto-complete (lookup)="fetch($event)" [contextListBody]="contextListBody" [optionsList]="listObservable" (changed)="onChange($event)" (selected)="onSelect($event)" [value]="startList">
        <ng-template #contextListBody let-value="value">
            <a class="uc-button button-white button-sm button-left media" [title]="value.title">
                <img src="{{value.cachedArtwork.poster}}" />
                {{value.title}}
            </a>
        </ng-template>
    </uc-auto-complete>
</uc-menu-subsection>

