<div class="grouped-badge-list" infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScroll()" [immediateCheck]="true">
    <uc-switch-badge [item]="blankSpace.record" [expanded]="true">
        <uc-button icon="play" [iconOnly]="true" (uc-async)="playItem($event, blankSpace)" notBubble></uc-button>
        <uc-button icon="plus" [iconOnly]="true" (uc-async)="queueItem($event, blankSpace)" notBubble></uc-button>
    </uc-switch-badge>

    <ng-container *ngFor="let group of groupedData">
        <h5>{{group.label}}</h5>

        <div class="badge-list">
            <uc-switch-badge *ngFor="let thumbnail of group.items" [item]="thumbnail.record || {}" [expanded]="true">
                <uc-button icon="external-link" [iconOnly]="true" (uc-async)="goto($event, thumbnail)" notBubble></uc-button>
                <uc-button icon="play" [iconOnly]="true" (uc-async)="playItem($event, thumbnail)" notBubble></uc-button>
                <uc-button icon="plus" [iconOnly]="true" (uc-async)="queueItem($event, thumbnail)" notBubble></uc-button>
                <uc-button icon="info" [iconOnly]="true" (action)="infoItem(thumbnail)" notBubble></uc-button>
                <uc-button icon="times" [iconOnly]="true" (uc-async)="removeItem($event, thumbnail)" notBubble></uc-button>
            </uc-switch-badge>
        </div>
    </ng-container>
</div>
<uc-autoscroll-up-down></uc-autoscroll-up-down>
<uc-input-modal #inputNewSource [type]="'textarea'">
    <ng-template #modalHeader><span translate>HISTORY.MODAL.TITLE</span></ng-template>
</uc-input-modal>

<uc-media-history-modal #historyMediaInfo></uc-media-history-modal>