@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	flex: 1 1 auto;
	
	.grouped-badge-list {
		margin: 20px;

		h5 {
			font-size: 17px;
			font-family: @font-coves;
			margin-bottom: 25px;
			text-transform: uppercase;
			margin-bottom: 10px;
			margin-top: 30px;
		}

		.badge-list {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;

		}
	}
	
	uc-switch-badge {
		display: block;
		flex: 1 0 auto;
		width: 400px;
		max-width: 400px;
		margin-right: 20px;
		margin-bottom: 20px;

		transition: border-color .5s ease-in-out;
		border: 2px fade(@color-warning, 0) solid;

		&:hover {
			border: 2px @color-warning solid;
		}
	}
}

@media ( max-width: 440px ) {
	:host {
		.grouped-badge-list uc-switch-badge {
			width: 100%;
			max-width: auto;
		}
	}
}

@media ( max-width: 400px ) {
	:host {
		h5 {
			padding-left: 20px;
			padding-right: 20px;
		}

		.grouped-badge-list {
			margin-left: 0;
			margin-right: 0;

			uc-switch-badge {
				border-width: 0;
				margin-bottom: 0;
			}
		}
	}
}