@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    display: flex;
    flex-direction: column;
}

uc-switch-base {
    flex: 0 0 auto;
}

.player-remote-controls-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding: 0 20px;
}

.player-row.player-controls {
    display: flex;
    justify-content: space-around;

    uc-button[ng-reflect-icon="unlink"] {
        color: @color-success;
    }
}

.player-group {
    margin: 0 -20px;
}

.player-group-body {
    background-color: @color-background;
    border-bottom: 2px @color-background solid;
    margin: 0 -20px;
    padding: 0 20px;
}

.player-group-title {
    font-size: 15px;
    background-color: @color-background;

    uc-button {
        background-color: lighten( @color-light-shade, 4% );
        margin-right: 10px;
    }
}

.player-row.player-tasks {
    h5 {
        margin-top: 3px;
        margin-bottom: 5px;

        .uc-button {
            float: right;
        }
    }

    .task {
        margin: 0 -20px;
        padding: 10px 20px;

        background-color: @color-background-2;
    }

    .task.odd {
        background-color: @color-background-3;
    }

    .task .title {
        font-size: 15px;
        margin: 2px 4px;

        // Ellipsis
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .task .flex-line {
        display: flex;
    }

    .task .subtitle {
        font-size: 12px;
        margin: 6px 6px;
        flex: 1 1 auto;
    }

    .task .task-stop {
        flex: 1 1 auto;
    }
}