<uc-advanced-seek *ngIf="advancedSeekOpen"
(canceled)="setAdvancedSeekOpen( false )"
(offsetTimeChanged)="changePreviewImage($event)"
[baseTime]="mediaPlayControl.sliderBars[0].actual"
[maxTime]="mediaPlayControl.sliderBars[0].maximum"
(confirmed)="mediaPlayControl.seekRequested($event)"
[previewImage]="previewImage"></uc-advanced-seek>

<ng-container *ngIf="!advancedSeekOpen">
    <uc-switch-badge class="player-row" status="Now playing..." [item]="actualItem"></uc-switch-badge>

    <div *ngIf="openedGroup != buttonGroups.Groups" class="player-group-title">
            <uc-button icon="arrow-left" class="button-sm" [iconOnly]="true" (click)="openGroup(buttonGroups.Groups)"></uc-button>
            <span translate>REMOTE.{{openedGroup}}</span>
        </div>
    <div class="player-remote-controls-container">
        <ng-container [ngSwitch]="openedGroup">
            <ng-container *ngSwitchDefault>
                <div class="player-row player-controls player-group">
                    <uc-player-control group>
                        <uc-button icon="power-off" [iconOnly]="true" (click)="openGroup(buttonGroups.Manage)"></uc-button>
                    </uc-player-control>
                    <uc-player-control group [disabled]="!actualItem.id">
                        <uc-button icon="font" [iconOnly]="true" [disabled]="!actualItem.id" (click)="openGroup(buttonGroups.Subtitles)"></uc-button>
                    </uc-player-control>
                    <uc-player-control group [disabled]="!actualItem.id">
                        <uc-button icon="volume-up" [iconOnly]="true" [disabled]="!actualItem.id" (click)="openGroup(buttonGroups.Volume)"></uc-button>
                    </uc-player-control>
                    <uc-player-control group [disabled]="!actualItem.id">
                        <uc-button icon="clock-o" [iconOnly]="true" [disabled]="!actualItem.id" (click)="setAdvancedSeekOpen( true )"></uc-button>
                    </uc-player-control>
                </div>
            </ng-container>
            <div *ngSwitchCase="buttonGroups.Manage" class="player-group-body">
                <div class="player-row player-controls player-power">
                    <uc-player-control>
                        <uc-button icon="refresh" [iconOnly]="true" (uc-async)="restartMedia($event)"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="undo" [iconOnly]="true" (uc-async)="replayMedia($event)"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="plug" [iconOnly]="true" (uc-async)="disconnect($event)"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="power-off" [iconOnly]="true" (uc-async)="turnoff($event)"></uc-button>
                    </uc-player-control>
                </div>
                <div class="player-row player-controls player-power">
                    <uc-player-control>
                        <uc-button [icon]="(mirroring.mirroringObsevable | async) ? 'unlink' : 'link'"  [iconOnly]="true" (action)="mirroring.toggleMirroring()"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="paper-plane-o" [iconOnly]="true" (uc-async)="$event.waitFor(mirroring.mirrorLastMedia())"></uc-button>
                    </uc-player-control>
                </div>
                <div class="player-row player-tasks">
                    <h5>
                        Transcodings ({{transcoding.length}})

                        <a class="uc-button button-link button-xs" icon="refresh" [iconOnly]="true" (click)="loadRunningTasks()"></a>
                    </h5>

                    <div class="task" *ngFor="let task of transcoding; let odd = odd" [class.odd]="odd">
                        <p class="title" *ngIf="task.metadata.media.kind == 'episode'">{{task.metadata.media.title}} ({{task.metadata.media | episodeSubcaption}})</p>
                        <p class="title" *ngIf="task.metadata.media.kind != 'episode'">{{task.metadata.media.title}}</p>
                        <div class="flex-line">
                            <p class="subtitle">{{getTranscodingSpeed(task)}}, {{task.startedAtHuman}} ago</p>
                            <uc-button class="button-warning button-xs task-stop" *ngIf="task.state != 'cancelled' && task.state != 'finished'" (click)="stopTranscoding( task )">STOP</uc-button>
                            <uc-button class="button-glossy button-xs task-stop" *ngIf="task.state == 'cancelled' || task.state == 'finished'">STOPPED</uc-button>
                        </div>
                    </div>

                    <!-- <div *ngIf="castLoading" class="content-placeholder" translate>MEDIACAST.LOADING</div> -->
                    <div *ngIf="transcoding.length == 0" class="content-placeholder">No running tasks</div>
                    <!-- <div class="task">
                        <p class="title">A High-Pitched Buzz and Training Wheels (Season 2, Episode 1)</p>
                        <div class="flex-line">
                            <p class="subtitle">2.5x, 10min ago</p>
                            <uc-button class="button-warning button-xs task-stop">STOP</uc-button>
                        </div>
                    </div>
                    <div class="task odd">
                        <p class="title">A High-Pitched Buzz and Training Wheels (Season 2, Episode 1)</p>
                        <div class="flex-line">
                            <p class="subtitle">2.5x, 10min ago</p>
                            <uc-button class="button-warning button-xs task-stop">STOP</uc-button>
                        </div>
                    </div>
                    <div class="task">
                        <p class="title">A High-Pitched Buzz and Training Wheels (Season 2, Episode 1)</p>
                        <div class="flex-line">
                            <p class="subtitle">2.5x, 10min ago</p>
                            <uc-button class="button-warning button-xs task-stop">STOP</uc-button>
                        </div>
                    </div> -->
                </div>
                <div class="player-row player-controls player-voice">
                    <uc-player-control *ngIf="mediaQueries.isSmartphoneScreen | async">
                        <uc-button icon="microphone" [iconOnly]="true" (uc-async)="startRecognition($event)"></uc-button>
                    </uc-player-control>
                </div>
            </div>
            <div *ngSwitchCase="buttonGroups.Subtitles" class="player-group-body">
                <div class="player-row player-controls player-subtitles">
                    <uc-player-control>
                        <uc-button icon="font|minus,0.40" [iconOnly]="true" (uc-async)="changeSubtitleSize($event, -SUBTITLES_CHANGE)"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="font|plus,0.40" [iconOnly]="true" (uc-async)="changeSubtitleSize($event, SUBTITLES_CHANGE)"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="paint-brush" [iconOnly]="true" (uc-async)="cycleStylesSubtitle($event)"></uc-button>
                    </uc-player-control>
                </div>
                <div class="player-row player-controls player-subtitles" uc-async-group>
                    <uc-player-control>
                        <uc-button icon="chevron-left,0.40,-0.40|clock-o" [iconOnly]="true" (uc-async)="changeSubtitleTime($event, -1)" [uc-async-buffered-count]="true" (uc-async-buffered)="previewChangeSubtitleTime($event.clickCount)"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="clock-o|chevron-right,0.40,-0.40" [iconOnly]="true" (uc-async)="changeSubtitleTime($event, +1)" [uc-async-buffered-count]="true" (uc-async-buffered)="previewChangeSubtitleTime($event.clickCount)"></uc-button>
                    </uc-player-control>
                </div>
            </div>
            <div *ngSwitchCase="buttonGroups.Volume" class="player-group-body">
                <div class="player-row player-controls player-volume">
                    <uc-player-control>
                        <uc-button [icon]="volume.muted ? 'volume-off' : 'volume-up'" [iconOnly]="true" (uc-async)="toggleMute($event)"></uc-button>
                    </uc-player-control>
                    <uc-percentage-slider [bars]="[{ name: 'watched', speed: 0, actual: volume.level, maximum: 100}]" [precision]="0" (progressChanged)="changeVolume($event)"></uc-percentage-slider>
                </div>
                <div class="player-row player-controls player-audio">
                    <uc-player-control>
                        <uc-button icon="chevron-left,0.40,-0.40|clock-o" [iconOnly]="true" (uc-async)="changeAudioTime($event, -1)" [uc-async-buffered-count]="true" (uc-async-buffered)="previewChangeAudioTime($event.clickCount)"></uc-button>
                    </uc-player-control>
                    <uc-player-control>
                        <uc-button icon="clock-o|chevron-right,0.40,-0.40" [iconOnly]="true" (uc-async)="changeAudioTime($event, +1)" [uc-async-buffered-count]="true" (uc-async-buffered)="previewChangeAudioTime($event.clickCount)"></uc-button>
                    </uc-player-control>
                </div>
            </div>
        </ng-container>

        <div class="flex"></div>

        <div class="player-row" *ngIf="mediaQueries.isNotDesktopScreen | async">
            <uc-time-slider [bars]="mediaPlayControl.sliderBars"
                            (progressChanged)="mediaPlayControl.sliderChanged($event)">
            </uc-time-slider>
        </div>

        <div class="player-row player-controls player-base" *ngIf="mediaQueries.isSmartphoneScreen | async">
            <uc-player-control>
                <uc-button icon="backward" [iconOnly]="true" (uc-async)="mediaPlayControl.backward($event)"></uc-button>
            </uc-player-control>

            <uc-player-control>
                <uc-button *ngIf="mediaPlayControl.isPlaying | async | not" icon="play" [iconOnly]="true" (uc-async)="mediaPlayControl.play($event)"></uc-button>
                <uc-button *ngIf="mediaPlayControl.isPlaying | async" icon="pause" [iconOnly]="true" (uc-async)="mediaPlayControl.pause($event)"></uc-button>
            </uc-player-control>

            <uc-player-control>
                <uc-button icon="stop" [iconOnly]="true" (uc-async)="mediaPlayControl.stop($event)"></uc-button>
            </uc-player-control>

            <uc-player-control>
                <uc-button icon="forward" [iconOnly]="true" (uc-async)="mediaPlayControl.forward($event)"></uc-button>
            </uc-player-control>
        </div>
    </div>
</ng-container>
