@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    display: flex;

    uc-switch-badge {
        uc-button ::ng-deep .inner {
            padding: 0px;
        }
    }
}

uc-scrollbar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.session-items {
    // flex: 1 1 auto;
    overflow: auto;
    height: 100%;

    uc-media-badge {
        margin-bottom: 5px;
    }
}

.missing-media {
    padding: 40px;
    text-align: center;
    color: @color-default;
}
