<uc-scrollbar>
    <div class="missing-media" *ngIf="!loaded">
        {{ 'SECTIONS.GENERAL.LOADING' | translate }}
    </div>
    <div *ngIf="loaded" class="session-items">
            <ng-container *ngFor="let item of items">
                <uc-switch-badge [item]="item.record" (click)="animatedLayoutChange( 300 )">
                    <uc-button icon="external-link" [iconOnly]="true" (uc-async)="goto($event, item)" notBubble></uc-button>
                    <uc-button icon="play" [iconOnly]="true" (uc-async)="playItem($event, item)" notBubble></uc-button>
                    <uc-button icon="plus" [iconOnly]="true" (uc-async)="queueItem($event, item)" notBubble></uc-button>
                    <uc-button icon="times" [iconOnly]="true" (uc-async)="removeItem($event, item)" notBubble></uc-button>
                </uc-switch-badge>
            </ng-container>

            <div class="missing-media" *ngIf="items.length == 0">
                {{ 'HISTORY.NO_SESSIONS' | translate }}
            </div>
        </div>
</uc-scrollbar>