<img [src]="(image || layoutUtils.EMPTY_IMG) | imageUrl: getImageWidth()" [class.missing]="!image"/>
<span class="overlay overlay-info" #overlayInfo [class.active]="showOverlayInfo"><ng-content select="[info]"></ng-content></span>
<span class="overlay overlay-toolbar" #overlay [class.active]="showOverlayToolbar" [class.faded]="overlayFaded"><ng-content select="[toolbar]"></ng-content></span>
<div class="info-row">
    <p class="title" [attr.title]="label">{{label}}</p>
    <p *ngIf="rating" class="rating">{{rating | rating}} <i class="fa fa-star" aria-hidden="true"></i>
    <p *ngIf="state" class="state"><i class="fa fa-{{state}}" aria-hidden="true"></i>
</div>
<div class="info-row" *ngIf="caption">
    <p class="subtitle">{{caption}}</p>
</div>
