<a uc-menu-item (click)="mainActionClicked()" routerLinkActive="active" [routerLink]="[ '/movies' ]" icon="film"> Movies </a>
<a uc-menu-item (click)="mainActionClicked()" routerLinkActive="active" [routerLink]="[ '/shows' ]" icon="television"> TV Shows </a>
<a uc-menu-item (click)="mainActionClicked()" routerLinkActive="active" [routerLink]="[ '/history' ]" icon="video-camera"> History </a>
<a uc-menu-item (click)="mainActionClicked()" routerLinkActive="active" [routerLink]="[ '/people' ]" icon="users"> People </a>
<a uc-menu-item (click)="mainActionClicked()" routerLinkActive="active" [routerLink]="[ '/addons' ]" icon="archive"> Addons </a>
<a uc-menu-item (click)="mainActionClicked()" routerLinkActive="active" [routerLink]="[ '/settings' ]" icon="gears"> Settings </a>