@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
	display: block;
	margin-left: 24px;

	.menu-subsection-label {
		font-family: @font-quicksand;
		font-weight: 500;
		font-size: 25px;
		margin-bottom: 10px;
	}
}