<uc-collapsible [collapsible]="collapsible" [collapsed]="collapsible && collapsed" (internalCollapseChange)="collapseChanged.emit($event)">
    <h3 title class="menu-subsection-label">{{label}}</h3>
    <ng-content content></ng-content>
</uc-collapsible>

