@import 'styles/common/colors';
@import 'styles/progress-bars';

:host {

    .segment {
        width: 100%;
        display: grid;

        .segment-container {
            .bar-container-with-values();

            .bar-default-rules();

            .bar-color-styles();

            .slideValue {
                min-width: 85px;
            }
        }

    }

}

