<uc-modal #modal>
    <ng-template #modalHeader>{{ title | translate }}</ng-template>
    <ng-template #modalBody>
        <h3> {{ session.record.title }} </h3>
        <p> Started at: {{ session.createdAt | friendlyDate }} {{ session.createdAt | date: 'HH:mm:ss' }} </p>
        <p> Ended at: {{ session.updatedAt | friendlyDate }} {{ session.updatedAt | date: 'HH:mm:ss' }} </p>
        <p> Receiver: {{ session.receiver }} </p>
        <div class="segment" *ngFor="let segment of session.positionHistory">
            <div class="segment-container">
                <span class="actual slideValue">{{ segment.start | call:showTime }}</span>
                <span class="bar">
                    <span class="first last watched" [ngStyle]="{ marginLeft: (segment.start / runtime) * 100 + '%'  , width: ((segment.end - segment.start+1) / runtime) * 100 + '%'}"></span>
                </span>
                <span class="maximum slideValue">{{ segment.end | call:showTime }}</span>
            </div>
        </div>
    </ng-template>
</uc-modal>
