<svg [attr.viewBox]="'0 0 ' + width + ' ' + height" class="graph">
    <polyline
       fill="none"
       stroke="#0074d9"
       stroke-width="3"
       [attr.points]="_chartInformation?.points"/>
    <g class="grid x-grid" id="xGrid">
        <line [attr.x1]="_leftSize" [attr.x2]="_leftSize" [attr.y1]="_lineMargin" [attr.y2]="height - _footerSize"></line>
    </g>
    <g class="grid y-grid" id="yGrid">
        <line [attr.x1]="_leftSize" [attr.x2]="width - _leftSize - _lineMargin" [attr.y1]="height - _footerSize" [attr.y2]="height - _footerSize"></line>
    </g>
    <g class="labels x-labels">
        <text *ngFor="let v of _chartInformation?.captions" [attr.x]="v.value" [attr.y]="height - X_LABELS_DISTANCE"> {{ v.caption }} </text>
        <text [attr.x]="height - X_LABELS_DISTANCE" [attr.y]="height - X_TITLE_DISTANCE" class="label-title">{{ xTitle }}</text>
    </g>
    <g class="labels y-labels">
        <text [attr.x]="margin - Y_LABELS_DISTANCE" y="15">15</text>
        <text [attr.x]="margin - Y_LABELS_DISTANCE" y="131">10</text>
        <text [attr.x]="margin - Y_LABELS_DISTANCE" y="248">5</text>
        <text [attr.x]="margin - Y_LABELS_DISTANCE" y="373">0</text>
        <text [attr.x]="margin - Y_TITLE_DISTANCE" y="200" class="label-title">{{ yTitle }}</text>
    </g>
</svg>