.graph .labels.x-labels {
    text-anchor: middle;
}

.graph .labels.y-labels {
    text-anchor: end;

    .label-title {
        text-anchor: middle;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}


.graph {
    height: 500px;
    width: 800px;
}

.graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
}

.labels {
    font-size: 13px;
    fill: white;
}

.label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill: white;
}
