<uc-thumbnails-list ucSelectableContainer infinite-scroll [infiniteScrollDistance]="2" (scrolled)="onScroll()" [immediateCheck]="true">
    <uc-thumbnail-person
            ucDiscreteScrollerElement
            (ucDiscreteScrollerElementSelected)="selectable.activate()"

            ucSelectable #selectable=selectable

            *ngFor="let person of data"
            [person]="person"
            [active]="selectable.active"
            [link]="[ '/people', person.id ]">
    </uc-thumbnail-person>

</uc-thumbnails-list>
<div *ngIf="!_allRequested" style="text-align: center; padding-top: 10px;">
    <a class="uc-button button-success button-center" (click)="loadMore()">Load More</a>
</div>
