@import 'styles/common/colors';

.saveAction {
    cursor: pointer;
    float: right;
    color: @color-default;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 16px;

    transition: color 0.3s ease-in-out;

    &:hover {
        color: @color-white;
    }
}