<uc-section class="episode-details" [background]="sectionBackground" title="Episodes" titleAction="Close Details" (titleClick)="onCloseClicked()"
            [titleDropdowns]="titleDropdowns" (titleDropdownsSelect)="titleDropdownsSelect.emit($event)">
    <div class="carousell">
        <a class="previous visibility-md" (click)="previous.next( episode )">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <div class="box-details">
            <div class="details">
                <img class="poster" [src]="episode.cachedArtwork.thumbnail"/>
                <div class="details-column">
                    <h2>
                            <span class="left">
                                <span class="title">{{ episode.title }}</span>
                                <span class="info">Season <span class="season">{{ episode.seasonNumber }}</span> Episode <span class="episode">{{ episode.number }}</span></span>
                            </span>
                        <span class="rating">{{ episode.rating | rating }} <i class="fa fa-star" aria-hidden="true"></i> </span>
                    </h2>
                    <p class="summary">
                        {{episode.plot}}
                    </p>
                </div>
            </div>
            <div class="toolbar" [class.horizontal]="mediaQueries.isSmartphoneScreen | async">
                <uc-button [class.button-fill]="mediaQueries.isSmartphoneScreen | async" [iconOnly]="mediaQueries.isSmartphoneScreen | async" class="button-success" icon="play-circle-o" (click)="play(episode)"><span translate>BUTTONS.ACTIONS.PLAY</span></uc-button>
                <uc-button [class.button-fill]="mediaQueries.isSmartphoneScreen | async" [iconOnly]="mediaQueries.isSmartphoneScreen | async" class="button-info" icon="plus-circle" (click)="queue(episode)"><span translate>BUTTONS.ACTIONS.QUEUE</span></uc-button>
                <uc-button [class.button-fill]="mediaQueries.isSmartphoneScreen | async" [iconOnly]="mediaQueries.isSmartphoneScreen | async" class="button-white" icon="creative-commons" (click)="toggleSubtitles(episode)"><span translate>BUTTONS.ACTIONS.SUBTITLES</span></uc-button>
                <uc-button [class.button-fill]="mediaQueries.isSmartphoneScreen | async" [iconOnly]="mediaQueries.isSmartphoneScreen | async" class="button-warning" [icon]="episode.watched ? 'eye-slash' : 'eye'" (click)="watch(episode)"><span [translate]="'BUTTONS.ACTIONS.' + (episode.watched ? 'NOT_WATCHED' : 'WATCHED')"></span></uc-button>

                <uc-dropdown class="more-options" #dropdown [width]="500" [embedded]="false">
                    <a dropdown-trigger class="uc-button button-white" [iconOnly]="true" icon="ellipsis-h" color="white" style="width: 100%;"></a>
                    <div dropdown-body>
                        <uc-button class="button-fill button-white" icon="info" (click)="modalInfo.show()"><span translate>BUTTONS.ACTIONS.INFO</span></uc-button>
                        <uc-download-media-dropdown [embedded]="true" [media]="episode" [iconOnly]="false"></uc-download-media-dropdown>
                    </div>
                </uc-dropdown>
            </div>
        </div>
        <a class="next" (click)="next.next( episode )">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</uc-section>

<uc-media-info-modal #modalInfo [media]="episode"></uc-media-info-modal>
