@import 'styles/common/colors';
@import 'styles/common/fonts';

uc-section.episode-details {
	.carousell {
		display: flex;
		align-content: center;

		> .previous, > .next {
			height: auto;
			cursor: pointer;
			font-size: 70px;
			padding: 20px;
			color: @color-warning;
			margin: auto;
		}
	}

	.details {
		flex-grow: 1;
		padding: 35px;
		margin: 0;
		display: flex;
	}

	.poster {
		box-shadow: 0px 0px 20px 7px rgba( 0, 0, 0, 0.30 );
		width: 300px;
		height: 170px;
    }

	.details-column {
		margin-left: 40px;
		flex-grow: 1;

		> h2 {
			display: flex;
			margin-bottom: 7px;
			margin-top: 0;

			.left {
				flex-grow: 1;
				font-family: @font-coves;
				font-weight: 500;
				font-size: 45px;
			}

			.title {
				color: @color-white;
			}

			.info {
				color: @color-default;
			}

			.rating {
				color: @color-warning;
				margin-left: 10px;
				margin-top: 13px;
				font-family: @font-quicksand;
				font-size: 27px;
				white-space: nowrap;
			}
		}

		.summary {
			margin-top: 7px;
			font-family: @font-quicksand;
			font-size: 19px;
		}
	}

    .toolbar {
        width: 100%;
        text-align: center;

        &.horizontal {
            display: flex;
        }
	}
}

@media (max-width: 500px) {
	uc-section.episode-details .carousell {
		margin-top: 20px;
		> .previous, > .next {
			display: none;
		}

		.details {
			display: block;
			padding: 0;

			.poster {
				width: 100%;
				height: auto;
			}

			.details-column {
				margin-left: 0;
				margin-top: 15px;

				> h2 {
					display: block;

					.left {
						font-size: 30px;
					}

					.rating {
						float: right;
						margin-left: 10px;
						margin-top: 13px;
						font-size: 20px;
					}
				}

				.summary {
					font-size: 15px;
				}
			}
		}
	}
}