<uc-loader *ngIf="!movie"></uc-loader>
<div class="movie-details general-details" *ngIf="!!movie">
    <section class="section">
        <div class="details-grid">
            <img class="poster" [src]="movie.cachedArtwork.poster">
            <h2 class="header">
                <span class="left">
                    <span class="title">{{movie.title}}</span>
                    <span class="year visibility-xs">{{movie.year}}</span>
                </span>
                <span class="rating visibility-xs">{{movie.rating | rating}} <i class="fa fa-star" aria-hidden="true"></i> </span>
            </h2>
            <span class="year visibility-sm">{{movie.year}}</span>
            <span class="rating visibility-sm">{{movie.rating | rating}} <i class="fa fa-star" aria-hidden="true"></i> </span>
            <p class="metadata">
                <span class="item genres">
                    <span *ngFor="let genre of movie.genres" class="value">{{genre}}</span>
                </span>
                <span class="separator">|</span>
                <span class="item duration">
                    <span class="value">{{movie.runtime / 60 | number:'1.0-0'}}</span> min
                </span>
                <span class="separator">|</span>
                <span class="item age-rating">
                    <span class="value">{{movie.parentalRating}}</span>
                </span>
            </p>
            <p class="summary">
                {{movie.plot}}
            </p>
            <div class="toolbar">
                <a class="uc-button button-success" icon="play-circle-o" color="success" (click)="play(movie)"><span translate>BUTTONS.ACTIONS.PLAY</span></a>
                <a class="uc-button button-info" icon="plus-circle" color="info" (click)="queue(movie)"><span translate>BUTTONS.ACTIONS.QUEUE</span></a>
                <a class="uc-button button-warning" [icon]="movie.watched ? 'eye-slash' : 'eye'" (click)="toggleWatch(movie)"><span [translate]="'BUTTONS.ACTIONS.' + (movie.watched ? 'NOT_WATCHED' : 'WATCHED')"></span></a>
                <a class="uc-button button-white" [iconOnly]="mediaQueries.isDesktopScreen | async" icon="creative-commons" color="white" (click)="toggleSubtitles(movie); dropdown.toggle()"><span translate>BUTTONS.ACTIONS.SUBTITLES</span></a>

                <uc-dropdown class="more-options" #dropdown [width]="300" [embedded]="mediaQueries.isNotDesktopScreen | async">
                    <a dropdown-trigger class="uc-button button-white" [iconOnly]="true" icon="ellipsis-h" color="white" style="width: 100%;"></a>
                    <div dropdown-body>
                        <a class="uc-button button-white button-block" icon="picture-o" color="white" (click)="gallery.show(); dropdown.toggle()"><span translate>BUTTONS.ACTIONS.GALLERY</span></a>
                        <a class="uc-button button-white button-block" icon="video-camera" color="white" [routerLink]="[ '/history' ]" [queryParams]="{ 'filterMedia[]': 'movie,' + movie.id }" (click)="dropdown.toggle()"><span translate>BUTTONS.ACTIONS.HISTORY</span></a>
                        <a class="uc-button button-white button-block" icon="users" color="white" (click)="toggleCast(movie); dropdown.toggle()"><span translate>BUTTONS.ACTIONS.CAST</span></a>
                        <a class="uc-button button-white button-block" icon="imdb" color="white" (click)="goToImdb($event)"><span translate>BUTTONS.ACTIONS.IMDB</span></a>
                        <uc-download-media-dropdown [embedded]="true" [iconOnly]="false" [media]="movie"></uc-download-media-dropdown>
                        <a class="uc-button button-white button-block" [icon]="this.mediaIsOnResyncList ? 'minus' : 'plus'" color="white" (click)="resyncListToggleMedia(); dropdown.toggle()"><span translate>BUTTONS.ACTIONS.{{ this.mediaIsOnResyncList ? 'REMOVE_FROM' : 'ADD_TO' }}_RESYNC</span></a>
                        <a class="uc-button button-white button-block" icon="info" color="white" (click)="modalInfo.show(); dropdown.toggle()"><span translate>BUTTONS.ACTIONS.INFO</span></a>
                    </div>
                </uc-dropdown>
            </div>
        </div>
    </section>

    <uc-media-cast [media]="movie" [isOpened]="castOpened" (isOpenedChange)="toggleCast(movie)"></uc-media-cast>

    <uc-subtitles [media]="movie" [isOpened]="subtitlesOpened" (isOpenedChange)="toggleSubtitles(movie)"></uc-subtitles>

    <uc-gallery-modal #gallery [galleryFetcher]="this" (selectedType)="gallerySelectedType( $event )"></uc-gallery-modal>

    <uc-media-info-modal #modalInfo [media]="movie"></uc-media-info-modal>
</div>
