<uc-menu-subsection label="{{ 'Qualitites' | translate}}" [collapsible]="true" [collapsed]="!service.sectionState.qualities" (collapseChanged)="service.changeState('qualities', !$event)">
    <uc-sidemenu-filters-lists filterName="resolutions" title="Resolutions" [api]="api.resolutions"></uc-sidemenu-filters-lists>
    <uc-sidemenu-filters-lists filterName="videoCodecs" title="Video Codecs" [api]="api.videoCodecs"></uc-sidemenu-filters-lists>
    <uc-sidemenu-filters-lists filterName="colorspaces" title="Colospaces" [api]="api.colorspaces"></uc-sidemenu-filters-lists>
    <uc-sidemenu-filters-lists filterName="bitdepths" title="Bitdepths" [api]="api.bitdepths"></uc-sidemenu-filters-lists>
    <uc-sidemenu-filters-lists filterName="channels" title="Channels" [api]="api.channels"></uc-sidemenu-filters-lists>
    <uc-sidemenu-filters-lists filterName="audioCodecs" title="Audio Codecs" [api]="api.audioCodecs"></uc-sidemenu-filters-lists>
    <uc-sidemenu-filters-lists filterName="languages" title="Languages" [api]="api.languages"></uc-sidemenu-filters-lists>
    <uc-sidemenu-filters-lists filterName="sources" title="Sources" [api]="api.sources"></uc-sidemenu-filters-lists>
</uc-menu-subsection>
