:host {
    display: inline-block;

    uc-dropdown {
        width: 100%;
    }

    uc-dropdown input[dropdown-trigger] {
        width: 100%;
        box-sizing: border-box;
    }

    a .fa-remove {
        float: right;
        display: none;
    }

    a.removeVisible {
        font-size: small;
        padding-left: 12px;

        &:hover span.fa-remove {
            display: inline-block;
        }
    }

}