<uc-dropdown #dropdown [fullWidth]="true" [closeOnDropdownClick]="true">
    <input dropdown-trigger #inputElement type="text" (keyup)="keyUp.emit($event)" />
    <div dropdown-body>
        <ng-container *ngFor="let e of contextList">
            <slot (click)="addItem(e)">
                <ng-container *ngTemplateOutlet="!!contextListBody ? contextListBody : defaultContextListBody;context:{ value: e }"></ng-container>
            </slot>
        </ng-container>
    </div>
</uc-dropdown>
<div>
    <ng-container *ngFor="let e of selectedList; let position = index">
        <ng-container *ngTemplateOutlet="!!listBody ? listBody : defaultListBody;context:{ value: e, position: position }"></ng-container>
    </ng-container>
</div>

<ng-template #defaultContextListBody let-value="value">
    <a class="uc-button button-white button-sm button-left" [title]="value.title">
        {{value.title}}
    </a>
</ng-template>

<ng-template #defaultListBody let-value="value" let-position="position">
    <a uc-menu-item class="sub" [class.removeVisible]="true" [class.included]="true">
        {{value.title}}
        <span class="fa fa-remove" (click)="removeItem(value, position)" notBubble></span>
    </a>
</ng-template>
