<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Unicast</title>

	<base href="{{WEB_HREF}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="manifest" href="manifest.webmanifest">
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="flexboxgrid.css">
    $css
	<script type="text/javascript">
		window.WEB_HREF = '{{WEB_HREF}}';
		window.API_HREF = '{{API_HREF}}';
    </script>
</head>
<body class="unicast-app">
    $bundles
</body>
</html>
