<div>
    <input type="date" class="dateStart" (change)="startChange.emit([$event.target.valueAsDate, 'start'])" [disabled]="isDisabled" [ngModel]="date?.start | date:'yyyy-MM-dd'">
</div>
<div>
    <input type="date" class="dateEnd" (change)="endChange.emit([$event.target.valueAsDate, 'end'])" [disabled]="isDisabled" [ngModel]="date?.end | date:'yyyy-MM-dd'" *ngIf="isRange">
</div>
