<uc-confirm-modal #modal (confirm)="confirm.next(addValue($event))" (cancel)="cancel.next(addValue($event))">
    <ng-template #modalHeader>
        <ng-container *ngTemplateOutlet="header;context:ctx"></ng-container>
    </ng-template>
    <ng-template #modalBody>
        <ng-container [ngSwitch]="type">
            <textarea *ngSwitchCase="'textarea'" [(ngModel)]="actualValue" uc-auto-focus rows="{{textAreaRows}}"></textarea>
            <input *ngSwitchDefault uc-auto-focus [(ngModel)]="actualValue" [type]="type" class="border-bottom" placeholder="Response here..."/>
        </ng-container>
    </ng-template>
</uc-confirm-modal>