<ng-template #loadingMessages let-loading="loading" let-length="length" let-type="type">
    <tr class="{{type}} loading" *ngIf="loading">
        <td colspan="6" translate>SUBTITLES.LOADING</td>
    </tr>
    <tr class="{{type}} loading" *ngIf="!loading && !length">
        <td colspan="6" translate>SUBTITLES.NO_SUBTITLES</td>
    </tr>
</ng-template>

<uc-section background="third" *ngIf="isOpened" [title]="'SUBTITLES.TITLE' | translate"
        [titleAction]="'SUBTITLES.CLOSE' | translate" (titleClick)="titleClick()" [hideTitle]="hideTitle" [bodyOnly]="bodyOnly"
        [titleDropdowns]="titleDropdowns" (titleDropdownsSelect)="changeLanguage($event)">
    <uc-droploader (files)="upload($event)">
        <table class="subtitles">
            <tr class="global header">
                <th class="releaseName">
                    <span translate>SUBTITLES.RELEASE_NAME</span>
                    <span style="float: right; margin-right: 10px" *ngIf="media != null && media.kind == 'episode'">
                        <uc-button class="button-warning button-sm" icon="minus" alt="Previous Episode" [iconOnly]="true" (uc-async)="changeEpisodeOffset($event, -1)"></uc-button>
                        E{{media.number + episodeOffset}}
                        <uc-button class="button-warning button-sm" icon="plus" alt="Previous Episode" [iconOnly]="true" (uc-async)="changeEpisodeOffset($event, +1)"></uc-button>
                    </span>
                </th>
                <th class="downloads" translate>SUBTITLES.DOWNLOADS</th>
                <th class="language" translate>SUBTITLES.LANGUAGE</th>
                <th class="format" translate>SUBTITLES.FORMAT</th>
                <th class="publishedAt" translate>SUBTITLES.PUBLISHED_AT</th>
                <th class="actions"></th>
            </tr>
            <tr class="local header" *ngIf="singleMedia">
                <th class="local" colspan="6" translate>SUBTITLES.LOCAL</th>
            </tr>
            <ng-container *ngFor="let group of mediaList">
                <tr class="local header" *ngIf="!singleMedia">
                    <th class="local" colspan="6" translate>
                        {{group.media.title}}
                        <span *ngIf="group.media.kind === 'episode'">S{{group.media.seasonNumber}}E{{group.media.number}}</span>
                    </th>
                </tr>
                <ng-container *ngTemplateOutlet="loadingMessages;context:{loading: group.localLoading, length: group.local.length, type: SubtitleType.Local}"></ng-container>
                <tr class="local entry" *ngFor="let entry of group.local" [class.disabled]="group.localLoading">
                    <td class="releaseName" (dblclick)="inputName(entry)" [ngSwitch]="editing">
                        <input *ngSwitchCase="entry.id" (keydown)="detectKey($event, entry)" type="text" [(ngModel)]="editingName" class="border-bottom"/>
                        <ng-container *ngSwitchDefault>{{entry.releaseName}}</ng-container>
                    </td>
                    <td class="downloads">{{entry.downloads}}</td>
                    <td class="language">{{entry.language}}</td>
                    <td class="format">{{entry.format}}</td>
                    <td class="publishedAt">{{entry.publishedAt}}</td>
                    <td class="actions">
                        <ng-container [ngTemplateOutlet]="sharedActions" [ngTemplateOutletContext]="{group: group, entry: entry, type: SubtitleType.Local}"></ng-container>
                        <uc-button class="button-danger button-sm" icon="remove" alt="Remove" [iconOnly]="true" (uc-async)="remove($event, group, entry)"></uc-button>
                    </td>
                </tr>
            </ng-container>

            <ng-container *ngIf="singleMedia">
                <tr class="remote header">
                    <th class="remote" colspan="6" translate>SUBTITLES.REMOTE</th>
                </tr>
                <ng-container *ngFor="let group of mediaList">
                    <ng-container *ngTemplateOutlet="loadingMessages;context:{loading: group.remoteLoading, length: group.remote.length, type: SubtitleType.Remote}"></ng-container>
                    <tr class="remote entry" *ngFor="let entry of group.remote" [class.disabled]="group.remoteLoading">
                        <td class="releaseName">{{entry.releaseName}}</td>
                        <td class="downloads">{{entry.downloads}}</td>
                        <td class="language">{{entry.language}}</td>
                        <td class="format">{{entry.format}}</td>
                        <td class="publishedAt">{{entry.publishedAt}}</td>
                        <td class="actions" [class.last-verified]="entry.id == lastVerifiedSubtitle">
                            <ng-container [ngTemplateOutlet]="sharedActions" [ngTemplateOutletContext]="{group: group, entry: entry, type: SubtitleType.Remote}"></ng-container>
                            <uc-button class="button-info button-sm" icon="plus" alt="Add" [iconOnly]="true" (uc-async)="add($event, group, entry)"></uc-button>
                        </td>
                    </tr>
                </ng-container>
            </ng-container>
        </table>
    </uc-droploader>
</uc-section>

<ng-template #sharedActions let-group="group" let-entry="entry" let-type="type">
    <uc-button class="button-success button-sm" icon="check" alt="Verify" [iconOnly]="true" (uc-async)="synchronize($event, group, entry, type, SubtitleSyncAlign.Validate)"></uc-button>
    <uc-dropdown class="more-options" #dropdown>
        <uc-button dropdown-trigger class="button-sm button-warning" [iconOnly]="true" icon="clock-o" style="width: 100%;"></uc-button>
        <div dropdown-body>
            <uc-button class="button-warning button-sm" icon="clock-o" alt="Binary" [iconOnly]="false" (uc-async)="synchronize($event, group, entry, type, SubtitleSyncAlign.Binary)">{{'SUBTITLES.BINARY' | translate }}</uc-button>
            <uc-button class="button-warning button-sm" icon="clock-o" alt="Delay" [iconOnly]="false" (uc-async)="synchronize($event, group, entry, type, SubtitleSyncAlign.Delay)">{{'SUBTITLES.DELAY' | translate }}</uc-button>
            <uc-button class="button-warning button-sm" icon="clock-o" alt="Point" [iconOnly]="false" (uc-async)="synchronize($event, group, entry, type, SubtitleSyncAlign.Point)">{{'SUBTITLES.POINT' | translate }}</uc-button>
        </div>
    </uc-dropdown>
</ng-template>
