@import 'styles/common/colors';
@import 'styles/common/fonts';

table.subtitles {
    padding-top: 10px;
    width: 100%;

    @padding: 10px;

    td, th {
        padding-top: @padding;
        padding-bottom: @padding;
        padding-right: @padding;

        input {
            width: 95%;
        }
    }

    td:first-child, th:first-child {
        padding-left: @padding;
        padding-right:0;
    }

    td.actions {
        padding: 0;
        text-align: right;
        min-width: 145px;
        border-right: 5px solid #FFFFFF00;

        uc-button {
            color: #FFFFFF;
        }


        &.last-verified {
            border-right-color: #00bd6b;
            border-right-color: #00ccff;
        }
    }

    tr.header {
        font-size: 20px;
        text-transform: uppercase;

        &.global {
            font-size: 23px;
        }

        th {
            font-weight: 400;
            color: @color-warning;
        }
    }

    tr.header {
        background-color: fade( @color-background-2, 80% );
        cursor: default;
    }

    tr.entry {
        cursor: pointer;
        background-color: fade( @color-background, 100% );

        &:hover {
            background-color: fade( @color-background-2, 100% );
        }
    }

    tr.disabled {
        filter: blur(2px);
        pointer-events: none;
    }

    tr.loading {
        text-align: center;
        background-color: fade( @color-background-3, 60% );
        color: @color-default;
        font-style: italic;
    }

    th.releaseName, th.local, th.remote {
        text-align: left;
        line-height: 1.7;
    }

    td.releaseName {
        word-break: break-all;
    }

    td.downloads, td.language, td.format, td.publishedAt {
        text-align: center;
    }
}

@media ( max-width: 900px ) {
    table.subtitles {
        tr.global.header {
            display: none;
            visibility: hidden;
        }

        &, tr, td, th {
            display: block;
            word-break: break-all;
        }

        td.actions {
            display: flex;

            uc-button {
                flex: 1 0 auto;
            }
        }
    }
}
