<div class="actions-list" style="max-height: 500px;" [style.display]="isHidden ? 'none' : 'block'">
    <ng-container #view></ng-container>
</div>
<ng-container *ngIf="service.isOpened">
    <div class="bottom-handlebar" [class.active]="isHidden" (click)="toggleIsHidden()">
        <span *ngIf="!isHidden"><i class="fa fa-angle-double-up"></i> <span translate>COMMAND_CENTER.HIDE</span></span>
        <span *ngIf="isHidden"><i class="fa fa-angle-double-down"></i> <span translate>COMMAND_CENTER.SHOW</span></span>
    </div>
</ng-container>