@import 'styles/common/colors';
@import 'styles/common/fonts';

:host {
    position: fixed;
    top: 0;
    left: 50%;
    width: 600px;
    // background-color: fade( @color-background, 90% );
    transform: translateX( -50% );
    z-index: 1200;
    box-sizing: border-box;

    @media (max-width: 600px) {
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        transform: none;
    }
}

.actions-list {
    overflow: auto;
}

.bottom-handlebar {
    display: block;
    width: 100%;
    text-align: center;
    background-color: fade( @color-background, 100% );
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    color: @color-default;

    &.active {
        background-color: fade( lighten( @color-warning, 20% ), 90% );
        color: @color-light-shade;
    }

    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}